#challenges {
  background: none repeat scroll 0 0 #FFF;
}
#challenges div {
  position: relative;
}
#challenges header {
  background: none repeat scroll 0 0 #202020;
}
#challenges header h2 {
  color: #FFF;
  font-size: 46px;
  letter-spacing: 0.05em;
  line-height: 74px;
  text-transform: uppercase;
  background: 530px 0 no-repeat url(../images/chevrons-white.png);
}
#challenges #challenge h3 {
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: normal;
  color: #202020;
  background: #FFF;
  border-top: 10px solid #202020;
  border-bottom: 10px solid #202020;
}
#challenges #challenge p {
  font-size: 14px;
  line-height: 1.8;
}
