#live_stream {
  background: #202020;
}
#live_stream header {
  background: none repeat scroll 0 0 #FFF;
}
#live_stream header h2 {
  color: #202020;
  font-size: 46px;
  letter-spacing: 0.05em;
  line-height: 74px;
  text-transform: uppercase;
  background: 530px 0 no-repeat url(../images/chevrons-black.png);
}
#live_stream .video {
  text-align: center;
  position: relative;
}
