#site-header {
  margin: 0;
  zoom: 1;
}
#site-header:before, #site-header:after {
  display: table;
  content: "";
  zoom: 1;
}
#site-header:after {
  clear: both;
}
#site-header h1 {
  margin: 36px 0 37px;
  position: relative;
}
#site-header h1 a {
  display: block;
  width: 473px;
  padding: 40px 40px 40px 0;
  background: #FFCC00;
}