#sponsors {
  padding-bottom: 40px;
}
#sponsors div {
  position: relative;
}
#sponsors header {
  background: none repeat scroll 0 0 #FFF;
}
#sponsors header h2 {
  color: #202020;
  font-size: 46px;
  letter-spacing: 0.05em;
  line-height: 74px;
  text-transform: uppercase;
  background: 530px 0 no-repeat url(../images/chevrons-black.png);
}
#sponsors h3 {
  text-transform: uppercase;
  color: #202020;
  font-size: 24px;
  margin: 40px 0 20px 0;
  line-height: 1;
}
#sponsors p {
  font-size: 16px;
  color: #202020;
  line-height: 1.8;
  margin-bottom: 30px;
}
#sponsors p a.cta {
  padding: 10px;
  text-transform: uppercase;
}
#sponsors h4 {
  position: absolute;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  font-size: 30px;
  font-weight: 900;
  line-height: 1;
  color: #fff;
  top: 150px;
  right: -80px;
  margin: 0;
  padding: 0;
}
#sponsors #target-container {
  height: 232px;
  width: 233px;
  background: no-repeat url(../images/target-container.png);
  margin: 40px 0 0 10px;
  zoom: 1;
}
#sponsors #target-container #target-text {
  margin: 29px 0;
  height: 174px;
  position: relative;
}
#sponsors #target-container #target-text p {
  height: 174px;
  line-height: 174px;
  margin: 0;
  position: relative;
  z-index: 9999;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
#sponsors #target-container #target-text #target-percentage {
  position: absolute;
  bottom: 1px;
  width: 233px;
  background: bottom no-repeat url(../images/target-graph.png);
}
#sponsors #target-container #target-text #target-percentage.per10 {
  height: 10%;
}
#sponsors #target-container #target-text #target-percentage.per20 {
  height: 20%;
}
#sponsors #target-container #target-text #target-percentage.per30 {
  height: 30%;
}
#sponsors #target-container #target-text #target-percentage.per40 {
  height: 40%;
}
#sponsors #target-container #target-text #target-percentage.per50 {
  height: 50%;
}
#sponsors #target-container #target-text #target-percentage.per60 {
  height: 60%;
}
#sponsors #target-container #target-text #target-percentage.per70 {
  height: 70%;
}
#sponsors #target-container #target-text #target-percentage.per80 {
  height: 80%;
}
#sponsors #target-container #target-text #target-percentage.per90 {
  height: 90%;
}
#sponsors #target-container #target-text #target-percentage.per100 {
  height: 100%;
}
#sponsors #target-container:before,
#sponsors #target-container:after {
  display: table;
  content: "";
  zoom: 1;
}
#sponsors #target-container:after {
  clear: both;
}
