#companies {
  background: #202020;
  div {
    position: relative;
  }

  #company-list{
    height:150px;
    padding-top: 25px;
    padding-bottom: 25px;

    .bracket{
        color:white;
        font-size:300px;
        top: 130px;
        
        .left{
            float:left;
            left: -90px;
        }

        .right{
          float:right;
          right: -85px;
        }
      }

    .company{
      text-align: center;
      line-height: 0.5;
    }
  }



  header {
    background: none repeat scroll 0 0 #FFF;

    h2 {
      color: #000000;
      font-size: 46px;
      letter-spacing: 0.05em;
      line-height: 74px;
      text-transform: uppercase;
      background: 530px 0 no-repeat url(../images/chevrons-black.png);
    }
  }

  h3 {
    text-transform: uppercase;
    font-size: 24px;
    margin: 40px 0 20px 0;
    line-height: 1;
  }

  p {
    line-height: 1.8;
    font-weight: bold;
    font-family: museo-sans,sans-serif;
    
    a {
      background: none;
      color: #FFF;
      font-size: 35px;
      padding: 10px;
      text-transform: uppercase;
    }
  }

  h4 {
    position: absolute;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    font-size: 30px;
    font-weight: 900;
    line-height: 1;
    top: 150px;
    right: -80px;
    margin: 0;
    padding: 0;
  }
}

