header{
	padding: 50px 0;
	overflow: hidden;
	border-bottom: 50px solid #000000;
}

header hgroup{
	overflow: hidden;
}

header h1#logo{
	background: #FFCC00;
	padding: 50px;
	width: 50%;
	box-sizing: border-box;
	float: left;
}

/*body#junior header h1#logo{
	background: #24890d
}*/

p.date{
	background: #000000;
	font-size: 60px;
	line-height: 1;
	color: #fff;
	width: 50%;
	padding: 50px;
	box-sizing: border-box;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	height: 235px;
	width: 50%;
	float: left;
}

.date a{
	display: inline-block;
	background: #fff;
	padding: 5px;
	margin: 5px;
	color: #000;
	text-decoration: none;
}


header h2{
	background: #000000;
	float: left;
	width: 50%;
	padding: 50px;
	box-sizing: border-box;
}

.sci-fest {
    position: relative;
    background: #fff;
}

.header-holder {
    overflow: hidden;
    background: #ffca00;
    font-family: "BTP-normal", Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #0b3361;
    text-align: center;
}

.header-holder .info-date {
    display: block;
    font-size: 15px;
}

.header-holder .info-title {
    display: block;
}

.logo {
    position: relative;
    z-index: 1;
    width: 220px;
    margin: 0 0 23px;
}

.logo a {
    background: url(/images/sponsors/sponsor_msf1.png) no-repeat;
    background-size: 100% auto;
    width: 100%;
    height: 87px;
    display: block;
    overflow: hidden;
    text-indent: -1000px;
}

.logo:after {
    content: "";
    position: absolute;
    left: -9999px;
    top: -9999px;
    bottom: -9999px;
    right: 85.5%;
    -webkit-transform: skewX(-45deg);
    -ms-transform: skewX(-45deg);
    transform: skewX(-45deg);
    z-index: -1;
    background: #34b4a5;
    padding: 9999px 0 9999px 9999px;
}


@media (max-width: 770px){

	header h1#logo{
		width: 100%;
		float: none;
		height: auto;
	}

	header h2{
		width: 100%;
		float: none;
		height: auto;
	}

	p.date{
		width: 100%;
	}
}