#navbar {
    margin-top:1rem;
    position: relative;
    background: #000;
    overflow: hidden;
    color: #fff;
    text-align: center;
    height: 4rem;
}

#navbar a{
    display: inline-block;
    background: #fff;
    padding: 5px;
    padding-top:10px;
    color: #000;
    text-decoration: none;
}