 <!-- Challenges -->
<section id="challenges" class='section'>
  <header>
    <h2 class="container">Challenges</h2>
  </header>
  <div class="container">
      <div id="challenge" class="span12">
      <h3><a href='http://www.waukta.com/hack-manchester-2014/'>WA:UK TA's</a> Best in Show</h3>
        <h4>Challenge:</h4>
        <p>Out of ALL the hacks - which one deserves the ribbon and kudos? <a href='http://www.waukta.com/hack-manchester-2014/'>DETAILS</a></p>
        <h4>Judge:</h4>
        <p><a href='http://twitter.com/unclethargy'>Craig Dean</a>, our Chief Executive – boss, developer, trainer as well as President of the Oldham Chamber of Commerce. Craig loves Hack, and the culture surrounding it, having been affiliated with the project since its inception. Craig actually won Best in Show in 2012, the same year he helped save the internet (and therefore the day)!</p>
        <h4>Prize:</h4>
        <p>A Samsung Galaxy Tab S each!</p>
      </div>  
      <div id="challenge" class="span12">
      <h3><a href='http://www.clockworksms.com'>ClockworkSMS</a> API</h3>
        <h4>Challenge:</h4>
        <p>Most pointless use of Clockwork.<a href='http://www.clockworksms.com/blog/hack-manchester-2014/'>DETAILS</a></p>
        <h4>Judge:</h4>
        <p>MD <a href='http://twitter.com/mediaburst'>Gary Bury</a> will be judging.</p>
        <p>Gary has been involved in the text message market since 2006 and has seen some pretty pointless apps in his time, and not just from hacks.</p>
        <p>“Unfortunately some of the most pointless ideas have come from within our own organisation, maybe even from myself. It’s something we’ve always tried to do though, embrace all ideas, sometimes the quirkiest inspiration can be the spark for a killer app”</p>
        <p>But at Hack Manchester 2014 he’ll not be looking for a killer app, pointless will win the day!</p>
        <h4>Prize:</h4>
        <p>4 x <a href='http://littlebits.cc/bundles/cloud-starter-bundle'>little bits cloud starter bundles</a></p>
      </div>
    
      <div id="challenge" class="span12">
        <h3><a href='http://www.laterooms.com'>LATEROOMS</a> CHALLENGE</h3>
        <h4>Challenge:</h4>
        <p>Solve a common problem to make Manchester more socially inclusive. <a href='http://engineering.laterooms.com/hack-manchester-challenge/'>DETAILS</a></p>
        <h4>Judge:</h4>
        <p>Stuart Hughes C.T.O. Laterooms.com; an ex developer who was at every level frustrated by management not creating the conditions for success so decided to try for himself. A proven track record of using Agile software development practices to shorten time to market, deliver value faster and to increase project quality and architectural excellence.

        Stu promises to be keeping an eye out for quality, craftsmanship and collaboration. But mainly shiny stuff.</p>
        <h4>Prize:</h4>
        <p>£350 Amazon vouchers to share and a drone each!</p>
      </div>
      
      <div id="challenge" class="span12">
        <h3><a href="http://www.onediary.com/">One Diary's</a> Ain't nobody got time for that </h3>
        <h4>Challenge:</h4>
        <p> <a href="http://www.onediary.com/">One Diary</a> challenge you to help people organise their lives to win a prize!. You can use the <a href='http://www.onediary.com/developers'>One Diary API</a> if you like, but it's not neccessary. <a href='http://www.onediary.com/blog/hackmanchester-challenge/'>DETAILS</a></p>
        <h4>Judge:</h4>
        <p><a href='http://twitter.com/gshutler'>Garry Shutler</a> - CTO</p>
        <p>'Mildly' opinionated developer with experience of stabilising, securing, scaling & enhancing enterprise platforms. Previously Lead Developer at Zopa.
        Works, rests, and plays software</p>
        <h4>Prize:</h4>
        <p>£400 Amazon vouchers</p>
      </div>    
   
      <div id="challenge" class="span12">
      <h3><a href='http://capsulecrm.com/'>Capsule's</a> Multi user challenge</h3>
        <h4>Challenge:</h4>
        <p>Create a multi-user application or gadget that can be shared with friends or colleagues.</p>
        <p><a href='http://capsulecrm.com/blog/hack_manchester_challenge_2014'>DETAILS</a></p>
        <h4>Judge:</h4>
        <p><a href='https://twitter.com/PhillipHaines'>Phillip Haines</a> Co-founder.</p>
        <h4>Prize:</h4>
        <p>A Beats Pill, Sonos Play 1, Krups Nespresso Machine, GoPro Hero3. Decide who gets what.</p>
      </div>  
      <div id="challenge" class="span12">
        <h3><a href='http://www.barclays.com/'>Barclays</a> Charity Challenge</h3>
        <h4>Challenge:</h4>
        <p>No, we’re not going to challenge you to throw a bucket of water over your head! We are going to challenge you to create an original, fun and inclusive hack that can help ensure people pay, and be the vehicle for the Next Big Viral Charity Challenge.</p>
        <h4>Prize:</h4>
         <p>£500 Amazon vouchers
           <br>We will work* with the winners to realise the hack by helping you finish it, release it and subsequently promote it. </p>
         <p style='font-size:11px;'>*If the winning team are students, we'll fast-track your applications for a paid internship at our Technology Centre in Cheshire to develop your idea next summer. (subject to interview and employability checks)</p>
      
        <h4>Judge:</h4>
        <p>Julian Wilson - Head of Mobile Innovation, Barclays</p>

        <p>For many years Julian has been turning ideas into services or businesses at Apple and AT&T Unisource.  He is the founder of two software companies who pioneered in smart-card digital cash, and mobile identity and access services.  In his role at Barclays, Julian is part of the Mobile team helping to enable other organisations to build their products and services in partnership with Barclays.</p>

        <p>Julian describes his working life as predicting, designing, funding, building and selling.  A veteran member of two previous winning Barclays teams at other hacks, Julian’s primary contribution is product strategy, business planning and the ideology of the Internet.</p>
      
      </div>
      
      <div id="challenge" class="span12">
        <h3>University</h3>
        <h4>Challenge:</h4>
        <p>University teams go head to head to see which university team has created the best hack. Think of it like the rowing championships, but drier.</p>
        <h4>Judges:</h4>
        <p><a href='http://twitter.com/theallseeingpie'>Joe Swan</a> and <a href ='http://twitter.com/adambird'>Adam Bird</a></p>
        <h4>Prize:</h4>
         <p>ERMAGURD!!!! It's pretty special.</p>
      </div>

      <div id="challenge" class="span12">
        <h3>Company</h3>
        <h4>Challenge:</h4>
        <p>Teams representing companies can enter this challenge. Which company has the BEST development team...?</p>
         <h4>Judges:</h4>
        <p><a href='twitter.com/theallseeingpie'>Joe Swan</a> and <a href ='twitter.com/adambird'>Adam Bird</a></p>
        <h4>Prize:</h4>
        <p>The coveted HackManchester trophy.</p>
      </div>
    

  </div>
</section>