<!-- FAQS -->
<section id="faqs" class='section'>
  <header>
    <h2 class="container">FAQ</h2>
  </header>
  <div class="container">
    <section class="row"> 
      <div class="span4">
        <h3>SATURDAY</h3>
        <p>
          <br>1200h - HACKING BEGINS
          <br>1730h - HOTPOT IS SERVED
          <br>1800h - BAR OPENS
        </p>
      </div>
      <div class="span4">
        <h3>SUNDAY</h3>
        <p>
          <br>0900h - <a href='http://autotrader.co.uk'>AUTOTRADER</a> BREAKFAST
          <br>1200h - KEYBOARDS DOWN
          <br>1400h - CHALLENGE SUBMISSION DEADLINE
          <br>1800h - AWARD SHOW
        </p>
      </div>
      <div class="span4">
        <h3>Hashtag?</h3>
        <p><a href='https://twitter.com/search?f=realtime&q=%23hackmcr&src=typd'>#hackmcr</a></p>
      </div>
    </section>
    <section class="row"> 
      <div class="span4">
        <h3>What's the rules?</h3>
          <p>Only code written during designated hacking hours can be submitted.</p>
      </div>
      <div class="span4">
        <h3>How many in a team?</h3>
          <p>Up to 4 in a team. This is so we can share prizes out between you without having to hack an iPad in half.</p>
      </div>
      <div class="span4">
        <h3>Can we enter more than one challenge?</h3>
          <p>As many as your imaginations can manage</p>
      </div>
    </section>
    <!-- <section class="row"> 
      <div class="span4">
        <h3>Can we create more than one project?</h3>
          <p>If you've got the stamina!</p>
      </div>
    </section> -->
  </div>
</section>