<div id="footer-wrapper">
	<footer id="site-footer" class="container">
		<p id="copyright-info">Copyright © 2014, Hack Manchester, All rights reserved.</p>
		<p id="link-love">site by <a href="http://wearefarm.com/">FARM</a></p>
	</footer>
</div>