<!-- Sponsors -->
<section id="sponsor-us" class='section'>
  <header>
    <h2 class="container">Sponsor us</h2>
  </header>
  <div class="container">
        <p>HackManchester can only happen thanks to generous sponsorship. If you would like to get involved, please </p>
        <p>check out our <a href='https://docs.google.com/document/d/1ei0RrYSEVoUcze3SbVKgwRVkMsiESqyd9nZ9Pbx3yYk/edit?usp=sharing'>Sponsor Pack</a><p> 
        <p>contact us <a href='mailto:enquiries@hackmanchester.com'>enquiries@hackmanchester.com</a></p>
  </div>
 </section>