<div class="corner-ribbon top-left sticky white shadow"><strong>JUNIOR</strong></div>

<div class="container">
    <!-- Site Header -->
    <header id="site-header">
        <h1>
            <a href="">
                <img src="./images/logo.png" alt="Hack Manchester Junior">
            </a>
        </h1>
    </header>
    
    <!-- Tag Line -->
    <section id="tag-line">
        <h2>
            <span class="line">Junior - Under 18's edition</span>
            <span class="line">2 day coding competition</span>
        </h2>
    </section>
    
    <!-- Event Details -->
    <section id="event-details" class="row">
        <div id="what" class="span4">
            <h3>What</h3>
            <p>
                 Under 18's 2 day coding competition by HackManchester and Manchester CoderDojo <br> Teams turn up with an idea and have just 2 days to present a working product!
            </p>
        </div>
        
        <div id="where" class="span4">
            <h3>Where</h3>
            <p>The event will take in the greatest industrial city on earth — <strong>Manchester</strong> at the Museum of Science and Industry.</p>
        </div>
        
        <div id="when" class="span4">
            <h3>When</h3>
            <div class="days">26<sup>th</sup>-27<sup>th</sup> </div>
            <div class='month'>October 2015</div>
        </div>
    </section>
</div>
