<div class="container">
    <!-- Site Header -->
    <header id="site-header">
        <h1>
            <a href="">
                <img src="./images/logo.png" alt="Hack Manchester">
            </a>
        </h1>
        <div class="rubber_stamp">Junior</div>
    </header>
    
    <!-- Tag Line -->
    <section id="tag-line">
        <h2>
            <span class="line">A 2 day coding competition</span>
            <span class="line">in the heart of manchester</span>
        </h2>
    </section>
    
    <!-- Event Details -->
    <section id="event-details" class="row">
        <div id="what" class="span4">
            <h3>What</h3>
            <p>
                 2 day coding competition by HackManchester and CoderDojo <br> Teams turn up with an idea and have just 2 days to present a working product!
            </p>
        </div>
        
        <div id="where" class="span4">
            <h3>Where</h3>
            <p>The event will take in the greatest industrial city on earth — <strong>Manchester</strong> at the Museum of Science and Industry.</p>
        </div>
        
        <div id="when" class="span4">
            <h3>When</h3>
            <div class="days">24<sup>th</sup>-25<sup>th</sup> </div>
            <div class='month'>October 2015</div>


            <p>
                <a href='http://www.hackmanchester.eventbrite.com' class="cta">BUY TICKETS</a>
            </p>
            <!--<p>
                <a href='http://www.included.co/hm2014-rewind/' class="cta">LAST YEAR</a>
            </p>-->
        </div>
    </section>
</div>
