<section id="live_stream" class='section'>
	<header>
		<h2 class="container">VIDEOS</h2>
	</header>
	<div class='video'>
		<div class="container">
			<div class='row'>
				<div class='span6'>
		  			<iframe src="//player.vimeo.com/video/35322798" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/35322798">Hack Manchester</a> from <a href="http://vimeo.com/steveliddle">Steve Liddle</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
		  		</div>
		  		<div class='span6'>
		  			<iframe width="500" height="281" src="//www.youtube.com/embed/RuxkKF4VvXY" frameborder="0" allowfullscreen></iframe>
		  		</div>
			</div>
		</div>
	</div>
</section>