<!-- Sponsors -->
<section id="companies" class='section'>
  <header>
    <h2 class="container">Sponsors</h2>
  </header>
  <div class="container">
    
    <div id="company-list">
      <div class="row-fluid">
        <div class="span12 company">
          <h1><a href="<%=sponsors.headline.uri%>"><%=sponsors.headline.name%></a></h1>
        </div>
      </div>
      <div class="row-fluid">
        <%for (i = 0; i < sponsors.challengeSetters.length; i++) {%>
          <div class="span row-fluid company">
            <div class="sponsor">
              <a href="<%=sponsors.challengeSetters[i].uri%>"><%=sponsors.challengeSetters[i].name%></a>
            </div>
          </div>
        <%}%>
    </div>
 </section>