<div class="container">
    <!-- Event Details -->
    <section id="event-details" class="row">
        <div id="when" class="span4">
            <p>
                <a href='http://www.hackmanchester.eventbrite.com' class="cta">SENIOR TICKETS</a>
            </p>
        </div>
        
        <div id="when" class="span4">
            <p><a href='/junior' class="cta">JUNIOR TICKETS</a></p>
        </div>
        
        <div id="when" class="span4">
            <p>
                <a class="cta" href='https://docs.google.com/document/d/1dQIWmaH2ynG1LBFbGcJmSVIn45xPXbnNNvL9ndcXopk/edit?usp=sharing'>Sponsor Pack</a>
            </p>
        </div>
    </section>
</div>
