<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HackManchester - GMHackFest16</title>
    <meta name="description" content="2 day coding competition by @hackmanchester & @hivemanchester for those aged 13 to 18. Teams turn up with an idea and have just 2 days to present a working product!">
    <link rel="stylesheet" href="/css/style.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsqPcSmyY-6WIl0Q_Q3Wzr7d-uNFsatGc">
    </script>
    <script src ="/js/map.js"></script>
    <script>
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

         ga('create', 'UA-79727269-1', 'auto');
         ga('send', 'pageview');

    </script>
</head>

<body id="junior">
    <header>
        <div class="wrapper">
            <hgroup>
                <h1 id="logo"><a href="/"><img src="/images/hmj_logo.png"/ alt="HAC 1: Hack Manchester 2016" width="100%"></a></h1>
                <h2 class="date"></h2>
            </hgroup>
            <p class="introduction">Half-term youth hackathons</p>
            <div class="booking">
                <ul>
                    <li><a href="https://docs.google.com/document/d/1OE4-5IbvDBJAzVBJ4FH3lOCUODUPmJXZU3gAMCHfE9U/pub?embedded=true" target="_blank">Sponsor Us</a></li>
                </ul>
            </div>
        </div>
    </header>
    <section id="videos">      
		<iframe width="560" height="315" src="https://www.youtube.com/embed/upZuYFSI2cU?list=PLNArih2SMAMoVex51AkzW7zVgBfw1COHX" frameborder="0" allowfullscreen></iframe>
    </section>
    <section id="main_content">
        <p>Half term hackday run by <a href="http://twitter.com/hackmanchester">@hackmanchester</a> & <a href="https://twitter.com/hivemanchester">@hivemanchester</a> for those aged 13 to 18.</p> 

        <p>Teams of up to 4 turn up with an idea and have to present a working product! Take part in the challenges to win prestige and prizes.</p>
    </section>
    <section id="sponsors">
        <ul>
            <li style="background-image: url(/images/sponsors/sponsor_hackman.png); background-repeat:no-repeat;">
                <div>
                    <h2 class="challenge_s sponsor"><span>Challenge Sponsor</span></h2>
                    <p class ="challenge"><a href="https://github.com/SquareJazz/ManchesterYouthHack3">View Challenge</a><a href="http://www.hackmanchester.com/">Visit Website</a></p>
                </div>
            </li>
            <li style="background-image: url(/images/sponsors/sponsor_hive.png); background-repeat:no-repeat;">
                <div>
                    <h2 class="challenge_s sponsor">Challenge Sponsor</h2>
                    <p class ="challenge"> <a href="http://hivemanchester.net/gm-hackfest16-challenge-it-lives">View Challenge</a> <a href="http://hivemanchester.net/">Visit Website</a></p>
                </div>
            </li>
			<li style="background-image: url(/images/sponsors/sponsor_farm.png); background-repeat: no-repeat;  background-position: 30% 20%; ">
                <div>
                    <h2 class="challenge_s sponsor">Challenge Sponsor</h2>
                    <p class ="challenge"> <a href="https://www.evernote.com/shard/s508/sh/8967e0bf-5b39-4395-9ae4-9c31e8142e06/436abf030ec3cec3">View Challenge</a> <a href="http://www.wearefarm.com/">Visit Website</a></p>
                </div>
            </li>
            <!--<li style="background-image: url(/images/sponsors/sponsor_auto_trader.png)">
                <div>
                    <h2 class="mover_and_shaker sponsor">Supporter</h2>
                    <p class ="website"> <a href="https://careers.autotrader.co.uk/">Visit Website</a></p>
                </div>
            </li>
            <li style="background-image: url(/images/sponsors/sponsor_farm.png)">
                <div>
                    <h2 class="mover_and_shaker sponsor">Supporter</h2>
                    <p class ="website"> <a href="http://wearefarm.com">Visit Website</a></p>
                </div>
            </li>-->
        </ul>
    </section>
    <section id='challenges'>
        <ul>
            
        </ul>
    </section>
    <section id='schedule'>
        <h2 class='header'>SCHEDULE</h2>
        <table> 
            <tbody>
                <tr>
                    <td>
                        <h3>Saturday 25th June 2016</h3>
                        <dl>
                            <dt>9:30 am</dt><dd>Registration</dd>
                            <dt>10.00 am</dt><dd>Intro Presentations</dd>
                            <dt>10:30 am</dt><dd>Hacking Begins!</dd>
                            <dt>12.30 pm</dt><dd>Lunch</dd>
                            <dt>4:00 pm</dt><dd>Time to go home - can carry on coding there though!</dd>
                        </dl>  
                    </td>
                    <td>
                        <h3>Sunday 26th June 2016</h3>
                        <dl>
                            <dt>9:00 am</dt><dd>Hacking Begins Again</dd>
                            <dt>12:00 pm</dt><dd>Lunch Bag Served</dd>
                            <dt>3:00 pm</dt><dd>Hacking Ends</dd>
                            <dt>3:00 pm</dt><dd>Awards Show / Demos</dd>
                            <dt>5:00 pm</dt><dd>Close</dd>
                        </dl> 
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    <footer>
        <p id="copyright_info">Copyright &copy; 2016,  Hack Manchester, All rights reserved.</p>
        <p id="link_love">Site by <a href="http://wearefarm.com">FARM</a></p>
    </footer>
</body>
</html>
