<!DOCTYPE html>
<!-- saved from url=(0026)http://hackmanchester.com/ -->
<html class="js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths wf-museosans-n3-active wf-museosans-n5-active wf-museosans-n7-active wf-museosans-n9-active wf-museosans-n1-active wf-active" lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Hack Manchester</title>
        
        <!-- Meta data -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Styles -->
        <link rel="stylesheet" type="text/css" href="./style/compiled.css">
          
        <!-- Scripts -->
        <script type="text/javascript" async="" src="./javascript/ga.js"></script><script src="./javascript/modernizr.min.js"></script>
        <script type="text/javascript" src="./javascript/urz8yac.js"></script>
        <style type="text/css">.tk-museo-sans{font-family:"museo-sans",sans-serif;}</style><link rel="stylesheet" href="http://use.typekit.com/k/urz8yac-d.css?3bb2a6e53c9684ffdc9a98f4195b2a62d5819100d8b71b237f5b90f8881287f3758ba80baec78cfead9df8c42c548ed58275068b1e7d19d4536e1951a6c023a42eeddbc7bb4261362ac74c0487fe4f28564bffb40d062a52967034440b6e392d8ef4a574cba65a534d489b5d8b0ca34e82c81d7b7ec9b9548ad9ed810008b3d2290ca8a2fd3e81b16c73e488f86b2bd66d00c3783c6959006af2f0a2eb18dad952ae6f3fe331d715cad2c26befa148726f5655d1f2deeffb7344875701a173ae625772e035c82d03f7658d79fe797631c1a9b40f756345e3aa8d1ccbfd3552"><script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        
      <!-- Google Fonts -->
      <link href='https://fonts.googleapis.com/css?family=Orbitron:900' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
        
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-28411031-1']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </head>
    
    <body>
        <div class="container">
            <!-- Site Header -->
            <header id="site-header">
                <h1>
                    <a href="">
                        <img src="./images/logo.png" alt="Hack Manchester">
                    </a>
                </h1>
            </header>
            
            <!-- Tag Line -->
            <section id="tag-line">
                <h2>
                    <span class="line">A 24 hour coding competition</span>
                    <span class="line">in the heart of manchester</span>
                </h2>
            </section>
            
            <!-- Event Details -->
            <section id="event-details" class="row">
                <div id="what" class="span4">
                    <h3>What</h3>
                    <p>
                        <a href="http://twitter.com/hackmanchester">@hackmanchester</a> is a 24-hour coding competition in the heart of Manchester organised by <a href="http://twitter.com/ruby_gem">@ruby_gem</a> and <a href="http://twitter.com/theallseeingpie">@theallseeingpie</a>. Teams of up to four turn up with an idea and just 24 hours later present a working product!
                    </p>
                </div>
                
                <div id="where" class="span4">
                    <h3>Where</h3>
                    <p>The event will take in the greatest industrial city on earth — <strong>Manchester</strong>. We'll be posting more details soon.</p>
                </div>
                
                <div id="when" class="span4">
                    <h3>When</h3>
                    <p class="date"></p>
                    <p>26th-27th October 2013</p>
                    <p> </p>
                    <p>
                        <a href="http://hackmanchester.eventbrite.com/" class="cta">Buy Tickets</a>
                    </p>
                </div>
            </section>
        </div>
        
        <!-- Sponsors -->
        <section id="sponsors">
            <header>
                <h2 class="container">We Need Sponsors</h2>
            </header>
            
            <div class="container">
                <div class="row">
                    <div class="span8">
                        <h3>how your business can get involved</h3>
                        <p>Find out what talented, passionate and influential people in the tech community can do with your API, data or product in just 24 hours.</p>
                        <p>
                        	
                        </p>
                    </div>
                    <div class="span4">
                    	<h4>Our Target</h4>
                    	<div id="target-container">
                            <div id="target-text">
                                <p>73%</p>
                                <div id="target-percentage" class="per70"</div>
                            </div>
                    	</div>
                    </div>
                </div>
            </div>
         </section>
         
         <!-- Register -->
        <section id="register">
            <header>
                <h2 class="container">Register Your Interest</h2>
            </header>
            <div class="container">
                <div>
<form action="https://docs.google.com/spreadsheet/formResponse?formkey=dGdGV1BsMnFzZHBad1VsR3JWRHBIMlE6MQ&embedded=true&ifq" method="POST" id="ss-form" novalidate="novalidate">
<fieldset>
<div class="errorbox-good">
	<div class="ss-item ss-item-required ss-text">
		<div class="ss-form-entry">
			<label class="ss-q-title" for="entry_0">Name<span class="ss-required-asterisk">*</span></label>
			<label class="ss-q-help" for="entry_0"></label>
			<input type="text" name="entry.0.single" value="" class="ss-q-short required" id="entry_0" placeholder="name">
		</div>
	</div>
</div>
<div class="errorbox-good">
	<div class="ss-item ss-item-required ss-text">
		<div class="ss-form-entry">
			<label class="ss-q-title" for="entry_1">Email Address<span class="ss-required-asterisk">*</span></label>
			<label class="ss-q-help" for="entry_1"></label>
			<input type="text" name="entry.1.single" value="" class="ss-q-short required email" id="entry_1" placeholder="email address">
		</div>
	</div>
</div>
<div class="errorbox-good">
	<div class="ss-item  ss-text">
		<div class="ss-form-entry"><label class="ss-q-title" for="entry_2">Twitter</label><label class="ss-q-help" for="entry_2"></label>
			<input type="text" name="entry.2.single" value="" class="ss-q-short" id="entry_2" placeholder="twitter username">
		</div>
	</div>
</div>
<div class="errorbox-good">
	<div class="ss-item  ss-select">
		<div class="ss-form-entry"><label class="ss-q-title" for="entry_3">Team Role</label><label class="ss-q-help" for="entry_3"></label>
			<select name="entry.3.single" id="entry_3">
				<option value="Back End Developer">Back End Developer</option>
				<option value="Front End Developer">Front End Developer</option>
				<option value="Designer">Designer</option>
				<option value="All Rounder">All Rounder</option>
			</select>
		</div>
	</div>
</div>
</fieldset>
<fieldset class="omega">
<div class="errorbox-good">
	<div class="ss-item  ss-paragraph-text">
		<div class="ss-form-entry"><label class="ss-q-title" for="entry_4">Notes</label><label class="ss-q-help" for="entry_4"></label>
			<textarea name="entry.4.single" rows="8" cols="75" class="ss-q-long" id="entry_4" placeholder="Any notes?"></textarea>
		</div>
	</div>
</div>
<input type="hidden" name="pageNumber" value="0">
<input type="hidden" name="backupCache" value="">
</fieldset>

<div class="ss-item ss-navigate">
	<div class="ss-form-entry submit-holder">
		<input type="submit" name="submit" value="Submit">
	</div>
</div>
</form>
</div>
</div>
</section>
        
        <div id="footer-wrapper">
            <footer id="site-footer" class="container">
				<p id="copyright-info">Copyright © 2013, Hack Manchester, All rights reserved.</p>
				<p id="link-love">site by <a href="http://wearefarm.com/">FARM</a></p>
            </footer>
        </div>
        
        <script src="./javascript/jquery.min.js"></script>
        <script src="./javascript/jquery.validate.js"></script>
        <script>
            $(document).ready(function() {
                $('#ss-form').validate();
            });
        </script>
    
</body></html>