<!DOCTYPE html>
<!-- saved from url=(0026)http://hackmanchester.com/ -->
<html class="js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths wf-museosans-n3-active wf-museosans-n5-active wf-museosans-n7-active wf-museosans-n9-active wf-museosans-n1-active wf-active" lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Hack Manchester</title>
        
        <!-- Meta data -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Styles -->
        <link rel="stylesheet" type="text/css" href="./style/compiled.css">
        <link rel="stylesheet" type="text/css" href="./style/sponsor.css">
        <link rel="stylesheet" type="text/css" href="./style/challenge.css">
        <link rel="stylesheet" type="text/css" href="./style/faq.css">
          
        <!-- Scripts -->
        <script type="text/javascript" async="" src="./javascript/ga.js"></script><script src="./javascript/modernizr.min.js"></script>
        <script type="text/javascript" src="./javascript/urz8yac.js"></script>
        <style type="text/css">.tk-museo-sans{font-family:"museo-sans",sans-serif;}</style><link rel="stylesheet" href="http://use.typekit.com/k/urz8yac-d.css?3bb2a6e53c9684ffdc9a98f4195b2a62d5819100d8b71b237f5b90f8881287f3758ba80baec78cfead9df8c42c548ed58275068b1e7d19d4536e1951a6c023a42eeddbc7bb4261362ac74c0487fe4f28564bffb40d062a52967034440b6e392d8ef4a574cba65a534d489b5d8b0ca34e82c81d7b7ec9b9548ad9ed810008b3d2290ca8a2fd3e81b16c73e488f86b2bd66d00c3783c6959006af2f0a2eb18dad952ae6f3fe331d715cad2c26befa148726f5655d1f2deeffb7344875701a173ae625772e035c82d03f7658d79fe797631c1a9b40f756345e3aa8d1ccbfd3552"><script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        
      <!-- Google Fonts -->
      <link href='https://fonts.googleapis.com/css?family=Orbitron:900' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
      
        
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-31137162-1']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </head>
    
    <body>
        <div class="container">
            <!-- Site Header -->
            <header id="site-header">
                <h1>
                    <a href="">
                        <img src="./images/logo.png" alt="Hack Manchester">
                    </a>
                </h1>
            </header>
            
            <!-- Tag Line -->
            <section id="tag-line">
                <h2>
                    <span class="line">A 24 hour coding competition</span>
                    <span class="line">in the heart of manchester</span>
                </h2>
            </section>
            
            <!-- Event Details -->
            <section id="event-details" class="row">
                <div id="what" class="span4">
                    <h3>What</h3>
                    <p>
                        <a href="http://twitter.com/hackmanchester">@hackmanchester</a> is a 24-hour coding competition by <a href="http://twitter.com/ruby_gem">@ruby_gem</a> and <a href="http://twitter.com/theallseeingpie">@theallseeingpie</a> <br> Teams of up to four turn up with an idea and just 24 hours later present a working product!
                    </p>
                </div>
                
                <div id="where" class="span4">
                    <h3>Where</h3>
                    <p>The event will take in the greatest industrial city on earth — <strong>Manchester</strong> at the Museum of Science and Industry.</p>
                </div>
                
                <div id="when" class="span4">
                    <h3>When</h3>
                    <p class="date"></p>
                    <p>26th-27th October 2013</p>
                    <p> </p>
                    <p>
                        <a href="http://hackmanchester.eventbrite.com/" class="cta">Buy Tickets</a>
                    </p>
                    <p>
                        <a href="http://deskand.co/hackmanchester" class="cta">LIVE BLOG</a>
                    </p>
                </div>
            </section>
        </div>
        <!-- Sponsors -->
        <section id="companies">
          <header>
            <h2 class="container">Sponsors</h2>
          </header>
          <div class="container">
            
            <div id="company-list">
              <div class="row">
                <div class="span12 company">
                  <h1><a href="http://www.barclays.com/" class='headline'>BARCLAYS</a></h1>
                </div>
              </div>
              <div class="row">
                <div class="span7 company">
                  <div class="sponsor"><a href="http://www.webapplicationsuk.com/">WEB APPLICATIONS UK</a>
                  </div>
                </div>
                  <div class="span4 company">
                    <div class="sponsor">
                      <a href="http://www.laterooms.com/">LATEROOMS.COM</a>
                    </div>
                </div>
              </div>
              <div class="row">
              <div class="span5 company right">
                  <div class="sponsor">
                    <a href="http://www.capsulecrm.com/">CAPSULE CRM</a>
                  </div>
                </div>
              	<div class="span2 company">
                  <div class="sponsor">
                    <a href="http://www.ao.com/">AO.COM</a></p>
                  </div>
                </div>
                <div class="span5 company">
                  <div class="sponsor">
                    <a href="http://www.clockworksms.com/">CLOCKWORK</a></p>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="span6 company">
                  <div class="sponsor">
                    <a href="http://www.layershift.com/hackmanchester/">LAYERSHIFT</a>
                  </div>
                </div>
                <div class="span6 company">
                  <div class="sponsor">
                    <a href="http://www.harveynash.com/">HARVEY NASH</a>
                  </div>
                </div>
            </div>
            
          </div>
        </section>
        <!-- Challenges -->
        <section id="challenges">
          <header>
            <h2 class="container">Challenges</h2>
          </header>
          <div class="container">
            <section class="row"> 

              <div id="challenge" class="span4">
                <h3><a href="http://blog.hackmanchester.com/post/63387766561/challenge-from-ao-com">AO.COM</a></h3>
                <h4>Challenge:</h4>
                <p><a href="http://blog.hackmanchester.com/post/63387766561/challenge-from-ao-com">THE ULTIMATE HACKDAY COMPANION</a></p>
                 <h4>Prize:</h4> 
                 <p>4 x iPad mini, 4x Desktop coffee machines, ao.com swag</p>
              </div> 
              <div id="challenge" class="span4">
                <h3><a href="http://www.webapplicationsuk.com/2013/09/hack-manchester-challenge-2/">Web Apps UK</a></h3>
                <h4>Challenge:</h4>
                <p><a href="http://www.webapplicationsuk.com/2013/09/hack-manchester-challenge-2/">CREATE A BROWSER BASED GAME WITH A TRAVEL THEME. </a></p>
                 <h4>Prize:</h4> 
                 <p>£500 worth of Kickstarter pledges</p>
              </div>
              
              <div id="challenge" class="span4">
                <h3><a href="http://www.clockworksms.com/blog/hack-manchester-challenge/">Clockwork SMS</a></h3>
                <h4>Challenge:</h4>
                <p><a href="http://www.clockworksms.com/blog/hack-manchester-challenge/">THE MOST RIDICULOUS USE OF CLOCKWORK  </a></p>
                <h4>Prize:</h4>
                <p>4 x shiny Google Nexus 4s, t-shirts, stickers and a 5ft giant banana </p>
              </div>  
            </section>
            <section class="row">  
            <div id="challenge" class="span4">
                <h3><a href="http://www.layershift.com/hackmanchester/">Layershift</a></h3>
                <h4>Challenge:</h4>
                <p><a href="http://www.layershift.com/hackmanchester/">USE LAYERSHIFT'S REVOLUTIONARY JELASTIC PaaS IN YOUR HACK</a></p>
                 <h4>Prize:</h4>
                 <p>£800 Amazon vouchers</p>
              </div>
              
              <div id="challenge" class="span4">
                <h3><a href="http://www.laterooms.com/">LATEROOMS.COM</a></h3>
                <h4>Challenge:</h4>
                <p><a href="http://blog.hackmanchester.com/post/64115054110/the-laterooms-mo-cial-travel-challenge">USE MOBILE AND SOCIAL TO HELP MAKE ANY ASPECT OF TRAVEL THAT LITTLE BIT EASIER AND FUN</a></p>
                <h4>Prize:</h4>
                <p>4 x 1 night stay for 2 at <a href="http://www.laterooms.com/en/hotel-reservations/194633_h10-london-waterloo-london.aspx">H10 London Waterloo</a></p>
              </div>  
            </section>
            <section class="row">  
              <div id="challenge" class="span4">
                <h3>University</h3>
                <h4>Challenge:</h4>
                <p>University teams go head to head to see which university team has created the best hack. Think of it like the rowing championships, but drier.</p>
                <h4>Prize:</h4>
                 <p><a href="http://blog.hackmanchester.com/post/64117556532/university-challenge-prize-part-one">BARCLAYS INTERNSHIP</a></p>
              </div>

              <div id="challenge" class="span4">
                <h3>Company</h3>
                <h4>Challenge:</h4>
                <p>Teams representing companies can enter this challenge. Which company has the BEST development team...?</p>
                <h4>Prize:</h4>
                <p>The coveted HackManchester trophy.</p>
              </div>
              
              <div id="challenge" class="span4">
                <h3>Best in Show</h3>
                <h4>Challenge:</h4>
                <p>Out of ALL the hacks - which one deserves the ribbon and kudos? </p>
                <h4>Prize:</h4>
                 <p>4x Apple TV, 6 Months Netflix Subscription, 6 Months Spotify Subscription from <a href="http://www.capsulecrm.com/">CAPSULE CRM</a></p>
              </div>  
            </section>

          </div>
        </section>

        <section id="faqs">
          <header>
            <h2 class="container">LIVE STREAMING</h2>
          </header>
          <div class="container">
            <iframe width="450" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" allowtransparency="true" src="http://chatroll.com/embed/chat/hack-manchester?id=30nbYJyL_U8&platform=html&w=$0"></iframe>
          </div>
        </section>
        <div id="footer-wrapper">
            <footer id="site-footer" class="container">
				<p id="copyright-info">Copyright © 2013, Hack Manchester, All rights reserved.</p>
				<p id="link-love">site by <a href="http://wearefarm.com/">FARM</a></p>
            </footer>
        </div>
        
        <script src="./javascript/jquery.min.js"></script>
        <script src="./javascript/jquery.validate.js"></script>
        <script>
            $(document).ready(function() {
                $('#ss-form').validate();
            });
        </script>
    
  </body>
</html>
