<!DOCTYPE html>
<!-- saved from url=(0026)http://hackmanchester.com/ -->
<html class="js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths wf-museosans-n3-active wf-museosans-n5-active wf-museosans-n7-active wf-museosans-n9-active wf-museosans-n1-active wf-active" lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Hack Manchester</title>
        
        <%include _head%>
    </head>
    
    <body>
        <%include _header%>

        <%include _sponsors %>

        <%include _challenges %>

        <section id='last-year'>
        </section>

        <%include _faq %>
 
        <div id="footer-wrapper">
            <footer id="site-footer" class="container">
				<p id="copyright-info">Copyright © 2014, Hack Manchester, All rights reserved.</p>
				<p id="link-love">site by <a href="http://wearefarm.com/">FARM</a></p>
            </footer>
        </div>
        
        <script src="./javascript/jquery.min.js"></script>
        <script src="./javascript/jquery.validate.js"></script>
        <script>
            $(document).ready(function() {
                $('#ss-form').validate();
            });
        </script>

        <script type="text/javascript">
          var clock;

          $(document).ready(function() {

            // Grab the current date
            var currentDate = new Date();

            // Set some date in the future. In this case, it's always Jan 1
            var futureDate  = new Date(2014, 9, 25, 12, 0, 0);

            // Calculate the difference in seconds between the future and current date
            var diff = futureDate.getTime() / 1000 - currentDate.getTime() / 1000;

            // Instantiate a coutdown FlipClock
            clock = $('.clock').FlipClock(diff, {
              clockFace: 'DailyCounter',
              countdown: true
            });
          });
        </script>
    
  </body>
</html>
