<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hack Manchester</title>
    <meta name="description" content="Hack Manchester is a 24-hour coding competition by @ruby_gem, @squarejazz and @theallseeingpie. Teams of up to four turn up with an idea and just 24 hours later present a working product!">
    <link rel="stylesheet" href="/css/style2.css">
    <link rel="stylesheet" href="/css/sponsors.css">
     <link rel="stylesheet" href="/css/challenges.css">
     <link rel="stylesheet" href="/css/location.css">
     <link rel="stylesheet" href="/css/footer.css">
     <link rel="stylesheet" href="/css/header.css">


    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsqPcSmyY-6WIl0Q_Q3Wzr7d-uNFsatGc">
    </script>
    <script src ="/js/map.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31137162-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</head>

<body>
    <div id="sci-fest">
        <div class="header-holder">
            <div class="holder">
                <div class="alignleft">
                    <h1 class="logo">
                        <a href="http://www.manchestersciencefestival.com/">
                            Manchester Science Festival Supported By SIEMENS
                        </a>
                        <span style="font-size:1rem;"><a href="http://www.manchestersciencefestival.com/">part of the Manchester Science Festival</a></span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        <header>
            <div class="wrapper">
                <hgroup>
                    <h1 id="logo"><a href="#"><img src="/images/logo.png"/ alt="HAC 1: Hack Manchester 2016" width="100%"></a></h1>
                    <p class="date" style="padding-top:20px;">
                        <span style="font-size:1rem;"><a href="http://msimanchester.org.uk/">MUSEUM OF SCIENCE AND INDUSTRY</a></span>
                        <br>
                        29 - 30<br><span class="year">OCT 2016</span>
                    </p>
                </hgroup>
                <p class="introduction">
                A 24 Hour Coding Competition in the heart of manchester<br>
                </p>
                <div class="booking">
                    <strong>
                        <ul>
                            <li class="alpha"><a href="/junior">Junior</a></li>
                            <li><a href="http://hackmanchester.eventbrite.com/?aff=webpage">TICKETS</a></li>
                        </ul>
                    <strong>
                </div>
            </div>
        </header>
        <section id="main_content">
            <p><a href="http://twitter.com/hackmanchester">@hackmanchester</a> is a 24-hour coding competition. Teams of up to four turn up with an idea and just 24 hours later present a working product!</p>
            <p>Located at the <a href="http://msimanchester.org.uk/">Museum of Science and Industry</a>, Liverpool Road, Manchester as part of the <a href="http://www.manchestersciencefestival.com/">Manchester Science Festival</a>.</p>
        </section>
        <section id="location">
            <div id="map-canvas" data-location="mosi"></div>
        </section>
        <section id="sponsors">
            <h2 class='header'>SPONSORS</h2>
            <ul>
                <li style="background-image: url(/images/sponsors/sponsor_wauk.png)">
                    <div>
                        <h2 class="headline sponsor"><span>Headline Sponsor</span></h2>
                        <p class ="challenge">
                            <a href="http://webapplicationsuk.com/hack-2016">View Challenge</a>
                            <a href="http://www.webapplicationsuk.com/ ">Visit Website</a></p>
                    </div>
                </li>
                <li style="background-image: url(/images/sponsors/sponsor_msf1.png); background-repeat: no-repeat;  background-position: 30% 20%;">
                    <div>
                        <h2 class="challenge_s sponsor">Sponsor</h2>
                        <p class ="website">
                            <a href="http://www.manchestersciencefestival.com/">Visit Website</a>
                        </p>
                    </div>
                </li>
                <li style="background-image: url(/images/sponsors/sponsor_clockwork.png)">
                    <div>
                        <h2 class="challenge_s sponsor">Challenge Sponsor</h2>
                        <p class ="challenge">
                        <a href="https://www.clockworksms.com/blog/we-re-sponsoring-hack-manchester-2016/">View Challenge</a>
                            <a href="http://www.clockworksms.com/">Visit Website</a>
                        </p>
                    </div>
                </li>
                <li style="background-image: url(/images/sponsors/sponsor_evestor.png); background-repeat: no-repeat;  background-position: 30% 20%;">
                    <div>
                        <h2 class="challenge_s sponsor">Challenge Sponsor</h2>
                        <p class ="challenge"> 
                        <a href="http://evestor.co.uk/hackmanchester-2016">View Challenge</a>
                        <a href="http://www.evestor.co.uk/">Visit Website</a></p>
                    </div>
                </li>
                <li style="background-image: url(/images/sponsors/sponsor_lad.png); background-repeat: no-repeat;  background-position: 30% 20%;">
                    <div>
                        <h2 class="challenge_s sponsor">Sponsor</h2>
                        <p class ="website">
                            <a href="http://www.theladbible.com/">Visit Website</a>
                        </p>
                    </div>
                </li>
                <li style="background-image: url(/images/sponsors/sponsor_valtech.png); background-repeat: no-repeat;  background-position: 30% 20%;">
                    <div>
                        <h2 class="challenge_s sponsor">Sponsor</h2>
                        <p class ="website"> 
                        <a href="https://www.valtech.co.uk/">Visit Website</a></p>
                    </div>
                </li>
               <li style="background-image: url(/images/sponsors/sponsor_zuto.png); background-repeat: no-repeat;  background-position: 30% 20%;">
                    <div>
                        <h2 class="mover_and_shaker sponsor">Mover and Shaker</h2>
                        <p class ="website"><a href="https://careers.zuto.com/">Visit Website</a></p>
                    </div>
                </li>
                <li style="background-image: url(/images/sponsors/sponsor_rentalcars.png); background-repeat: no-repeat;  background-position: 30% 20%;">
                    <div>
                        <h2 class="mover_and_shaker sponsor">Mover and Shaker</h2>
                        <p class ="website"><a href="http://www.rentalcars.com/">Visit Website</a></p>
                    </div>
                </li>
                <li style="background-image: url(/images/sponsors/sponsor_ecom.png);background-repeat: no-repeat;  background-position: 30% 20%; ">
                    <div>
                        <h2 class="mover_and_shaker sponsor">Mover and Shaker</h2>
                        <p class ="website"><a href="http://www.ecomrecruitment.com/">Visit Website</a></p>
                    </div>
                </li>
                
            </ul>
        </section>
        <section id='challenges'>
            <h2 class='header'>CHALLENGES</h2>
            <ul>
                <li style="background-color: #FC0; background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/ae/Factory_icon.svg);background-repeat: no-repeat; background-size: 60%; background-position: center top; ">
                    <div>
                        <h2 class="challenge_s sponsor"><span>Company Challenge</span></h2>
                        <p class ="challenge">all team members from same company</p>
                        <p class ="challenge">judged by @theallseeingpie</p>
                        <p class ="challenge">prize TBA</p>
                    </div>
                </li>
                <li style="background-image: url(/images/sponsors/sponsor_wauk.png)">
                    <div>
                        <h2 class="headline sponsor"><span>BEST IN SHOW</span></h2>
                        <p class ="challenge">
                            <a href="http://webapplicationsuk.com/hack-2016">View Challenge</a>
                    </div>
                </li>
                 <li style="background-color: #FC0; background-image: url(https://cdn0.iconfinder.com/data/icons/users-android-l-lollipop-icon-pack/24/student-512.png);background-repeat: no-repeat; background-size: 60%; background-position: center top; ">
                    <div>
                        <h2 class="challenge_s sponsor"><span>University Challenge</span></h2>
                        <p class ="challenge">like the rowing comp but drier</p>
                        <p class ="challenge">judged by @theallseeingpie</p>
                        <p class ="challenge">prize TBA</p>
                    </div>
                </li>
                <li style="background-image: url(/images/sponsors/sponsor_clockwork.png)">
                    <div>
                        <h2 class="challenge_s sponsor">Challenge Sponsor</h2>
                        <p class ="challenge">
                            <a href="https://www.clockworksms.com/blog/we-re-sponsoring-hack-manchester-2016/">View Challenge</a>
                        </p>
                    </div>
                </li>
                <li style="background-image: url(/images/sponsors/sponsor_evestor.png); background-repeat: no-repeat;  background-position: 30% 20%;">
                    <div>
                        <h2 class="challenge_s sponsor">Challenge Sponsor</h2>
                        <p class ="challenge"> 
                            <a href="http://evestor.co.uk/hackmanchester-2016">View Challenge</a>
                        </p>
                    </div>
                </li>
                <!-- coop -->
                <li style="background-color: #FC0; background-image: url(http://www.templatemonster.com/blog/wp-content/uploads/2012/06/comingsoon.png);background-repeat: no-repeat; background-size: 60%; background-position: center; ">
                    <div>
                    </div>
                </li>
                <!-- sky -->
                <li style="background-color: #FC0; background-image: url(http://www.templatemonster.com/blog/wp-content/uploads/2012/06/comingsoon.png);background-repeat: no-repeat; background-size: 60%; background-position: center; ">
                    <div>
                    </div>
                </li>
                <!-- GMP -->
                <li style="background-color: #FC0; background-image: url(http://www.templatemonster.com/blog/wp-content/uploads/2012/06/comingsoon.png);background-repeat: no-repeat; background-size: 60%; background-position: center; ">
                    <div>
                    </div>
                </li>
                <!-- CRUK -->
                <li style="background-color: #FC0; background-image: url(http://www.templatemonster.com/blog/wp-content/uploads/2012/06/comingsoon.png);background-repeat: no-repeat; background-size: 60%; background-position: center; ">
                    <div>
                    </div>
                </li>
            </ul>
        </section>
        <!-- <section id='main_content'>
            <h2 class='header'>SCHEDULE</h2>
            <table> 
                <tbody>
                    <tr>
                        <td>
                            <h3>Saturday 29th October</h3>
                            <dl>
                                <dt>11am</dt><dd>Registration</dd>
                                <dt>12noon</dt><dd>Intro Presentations</dd>
                                <dt>1pm</dt><dd>Hack begins</dd>
                                <dt>6pm</dt><dd>Hotpot is served</dd>
                                <dt>6pm</dt><dd>Bar opens</dd>
                            </dl>  
                        </td>
                        <td>
                            <h3>Sunday 30th October</h3>
                            <dl>
                                <dt>8am</dt><dd>Breakfast is served</dd>
                                <dt>1pm</dt><dd>Hacking ends</dd>
                                <dt>2pm</dt><dd>Hack video submission deadline </dd>
                                <dt>6pm</dt><dd>Awards show - bar opens/buffet is served</dd>
                            </dl> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </section> -->
        <footer>
            <p id="copyright_info">
                Copyright &copy; 2016,  HackManchester
            </p> 
            <p id="link_love">Site by <a href="http://wearefarm.com">FARM</a></p>
            <p id="owner_info">
                brought to you by <a href="http://twitter.com/ruby_gem">@ruby_gem</a>, <a href="http://twitter.com/squarejazz">@squarejazz</a> and <a href="http://twitter.com/theallseeingpie">@theallseeingpie</a>
            </p>
        </footer>
    </div>
</body>
</html>
