
<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properities -->
  <title>Hack Manchester</title>  
  <%include _head%>

</head>
<body>
  <div class='centered-section'>
    <header id="site-header">
        <h1>
            <a href="">
                <img src="./images/logo.png" alt="Hack Manchester">
            </a>
        </h1>

    </header>
    <!-- Tag Line -->
    <section id="tag-line">
        <h2>
            <span class="line">A 24 hour coding competition</span>
            <span class="line">in the heart of manchester</span>
        </h2>
    </section>
  </div>

 <div class='centered-section'>
     <div class="ui three column doubling grid">
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
    </div>
    <!-- Event Details -->
    <section id="event-details" class="row">
        <div id="what" class="span4">
            <h3>What</h3>
            <p>
                <a href="http://twitter.com/hackmanchester">@hackmanchester</a> is a 24-hour coding competition by <a href="http://twitter.com/ruby_gem">@ruby_gem</a>, <a href="http://twitter.com/squarejazz">@squarejazz</a> and <a href="http://twitter.com/theallseeingpie">@theallseeingpie</a> <br> Teams of up to four turn up with an idea and just 24 hours later present a working product!
            </p>
        </div>
        
        <div id="where" class="span4">
            <h3>Where</h3>
            <p>The event will take in the greatest industrial city on earth — <strong>Manchester</strong> at the Museum of Science and Industry.</p>
        </div>
        
        <div id="when" class="span4">
            <h3>When</h3>
            <div class="days">24<sup>th</sup>-25<sup>th</sup> </div>
            <div class='month'>October 2015</div>

            <!--<p>
                <a href='http://www.included.co/hm2014-rewind/' class="cta">LAST YEAR</a>
            </p>-->
        </div>
    </section>
</div>

<!-- Content JS HERE !-->
<style>
  .last.container {
    margin-bottom: 300px !important;
  }
  h1.ui.center.header {
    margin-top: 3em;
  }
  h2.ui.center.header {
    margin: 4em 0em 2em;
  }
  h3.ui.center.header {
    margin-top: 2em;
    padding: 2em 0em;
  }
</style>

<script type="text/javascript">
$(document).ready(function() {

  var
    $headers     = $('body > h3'),
    $header      = $headers.first(),
    ignoreScroll = false,
    timer
  ;

  // Preserve example in viewport when resizing browser
  $(window)
    .on('resize', function() {
      // ignore callbacks from scroll change
      clearTimeout(timer);
      $headers.visibility('disable callbacks');

      // preserve position
      $(document).scrollTop( $header.offset().top );

      // allow callbacks in 500ms
      timer = setTimeout(function() {
        $headers.visibility('enable callbacks');
      }, 500);
    })
  ;
  $headers
    .visibility({
      // fire once each time passed
      once: false,

      // dont refresh position on resize
      checkOnRefresh: true,

      // lock to this element on resize
      onTopPassed: function() {
        $header = $(this);
      },
      onTopPassedReverse: function() {
        $header = $(this);
      }
    })
  ;
});
</script>

</body>
</htmL.