<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <meta name="description" content="Hack Manchester is a 24-hour coding competition by @ruby_gem, @squarejazz and @theallseeingpie. Teams of up to four turn up with an idea and just 24 hours later present a working product!">
    <link rel="stylesheet" href="/css/style.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsqPcSmyY-6WIl0Q_Q3Wzr7d-uNFsatGc">
    </script>
    <script src ="/js/map.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31137162-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</head>

<body>
    <header>
        <div class="wrapper">
            <hgroup>
                <h1 id="logo"><a href="#"><img src="/images/logo.png"/ alt="HAC 1: Hack Manchester 2015" width="100%"></a></h1>
                <h2 class="date"><img src="/images/date.png" alt="24th &dash; 25th October 2015" width="100%"/></h2>
            </hgroup>
            <p class="introduction">A 24 Hour Coding Competition in the heart of manchester<br> <a style="text-decoration:none;color:#ff0080" href="http://included.co/hackmcr2015">READ THE LIVE BLOG</a></p>
            <div class="booking">
                <ul>
                    <li class="alpha"><a href="http://www.hackmanchester.eventbrite.com/">Get Tickets</a></li>
                    <li><a href="/junior">HackMcr Junior</a></li>
                </ul>
            </div>
        </div>
    </header>
    <section id="videos">
        <ul>
           <!--  <li id="intro_vid"><a href="https://vimeo.com/35322798" target="_blank">Hack Manchester: An Introduction</a></li>
            <li id="summary_vid" target="_blank"><a href="https://youtu.be/RuxkKF4VvXY">Hack Manchester: 2013 Summary</a></li> -->

            <iframe width="560" height="315" src="https://www.youtube.com/embed/eUPODaiEBTI" frameborder="0" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/GQMArbvMKh8" frameborder="0" allowfullscreen></iframe>
        </ul>
    </section>
    <section id="main_content">
        <p><a href="http://twitter.com/hackmanchester">@hackmanchester</a> is a 24-hour coding competition by <a href="http://twitter.com/ruby_gem">@ruby_gem</a>, <a href="http://twitter.com/squarejazz">@squarejazz</a> and <a href="http://twitter.com/theallseeingpie">@theallseeingpie</a>. Teams of up to four turn up with an idea and just 24 hours later present a working product!</p>
    </section>
    <section id="location">
        <div id="map-canvas"></div>
        <p>The event will take in the greatest industrial city on earth… <strong>Manchester</strong> at the  <strong>Museum of Science and Industry</strong>.
        <br>
        </p>
    </section>
    <section id="sponsors">
        <ul>
            <li style="background-image: url(/images/sponsors/sponsor_wauk.png)">
                <div>
                    <h2 class="headline sponsor"><span>Headline Sponsor</span></h2>
                    <p class ="website"><a href="http://www.waukta.com/2014/10/a-tale-of-beanbags-monster-and-broken-builds">View Challenge</a><a href="http://www.waukta.com/">Visit Website</a></p>
                </div>
            </li>
            <li style="background-image: url(/images/sponsors/sponsor_clockwork.png)">
                <div>
                    <h2 class="challenge_s sponsor">Challenge Sponsor</h2>
                    <p class ="challenge"><a href="https://www.clockworksms.com/blog/clockwork-is-sponsoring-hack-manchester-2015/">View Challenge</a> <a href="http://www.clockworksms.com/">Visit Website</a></p>
                </div>
            </li>
            <li style="background-image: url(/images/sponsors/sponsor_auto_trader.png)">
                <div>
                    <h2 class="challenge_s sponsor">Challenge Sponsor</h2>
                    <p class ="challenge"> <a href="http://careers.autotrader.co.uk/hack-manchester-2015/">View Challenge</a> <a href="https://careers.autotrader.co.uk/">Visit Website</a></p>
                </div>
            </li>
            <li style="background-image: url(/images/sponsors/sponsor_rentalcars.png)">
                <div>
                    <h2 class="challenge_s sponsor">Challenge Sponsor</h2>
                    <p class ="challenge"> <a href="http://www.rentalcars.com/hackmanchester">View Challenge</a> <a href="http://careers.rentalcars.com/">Visit Website</a></p>
                </div>
            </li>
            <li style="background-image: url(/images/sponsors/sponsor_lad.png); background-repeat: no-repeat;  background-position: 30% 20%; ">
                <div>
                    <h2 class="challenge_s sponsor">Challenge Sponsor</h2>
                    <p class ="challenge"> <a href="https://medium.com/the-lad-bible/don-t-talk-about-innovation-make-it-happen-bc47d0a45933">View Challenge</a> <a href="http://www.theladbible.com/">Visit Website</a></p>
                </div>
            </li>
            <li style="background-image: url(/images/sponsors/sponsor_autodesk.png); background-repeat: no-repeat; background-position: 30% 20%;  ">
                <div>
                    <h2 class="challenge_s sponsor">Challenge Sponsor</h2>
                    <p class ="challenge"> <a href="http://adndevblog.typepad.com/aec/2015/09/join-us-at-hackmanchester-in-october.html">View Challenge</a> <a href="http://www.autodesk.co.uk/">Visit Website</a></p>
                </div>
            </li>
            <li style="background-image: url(/images/sponsors/sponsor_rise.png)">
                <div>
                    <h2 class="challenge_s sponsor">Challenge Sponsor</h2>
                    <p class ="website"><a href="http://thinkrise.com/pages/manchester-challenge.html">View Challenge</a><a href="http://thinkrise.com/pages/manchester.html">Visit Website</a></p>
                </div>
            </li>
            <li style="background-image: url(/images/sponsors/sponsor_talent.png)">
                <div>
                    <h2 class="bar sponsor">Bar Sponsor</h2>
                    <p class ="website"><a href="http://www.talentinternational.com/">Visit Website</a></p>
                </div>
            </li>
            <li style="background-image: url(/images/sponsors/sponsor_cdl.png)">
                <div>
                    <h2 class="mentor sponsor">Mentor Sponsor</h2>
                    <p class ="website"><a href="http://www.cdl.co.uk/">Visit Website</a></p>
                </div>
            </li>
            <li style="background-image: url(/images/sponsors/sponsor_msp.png); ">
                <div>
                    <h2 class="mover_and_shaker sponsor">Mover and Shaker</h2>
                    <p class ="website"><a href="http://www.mspl.co.uk/">Visit Website</a></p>
                </div>
            </li>
            <li style="background-image: url(/images/sponsors/sponsor_farm.png); ">
                <div>
                    <h2 class="mover_and_shaker sponsor">Mover and Shaker</h2>
                    <p class ="website"><a href="http://wearefarm.com/">Visit Website</a></p>
                </div>
            </li>
            <li style="background-image: url(/images/sponsors/sponsor_acc.png); background-repeat: no-repeat;">
                <div>
                    <h2 class="mover_and_shaker sponsor">Mover and Shaker</h2>
                    <p class ="website"><a href="http://www.accenture.com/gb-en/">Visit Website</a></p>
                </div>
            </li>
            <li style="background-image: url(/images/sponsors/sponsor_sage.png)">
                <div>
                    <h2 class="mover_and_shaker sponsor">Supporter</h2>
                    <p class ="website"><a href="http://www.sage.co.uk/">Visit Website</a></p>
                </div>
            </li>
            <li style="background-image: url(/images/sponsors/sponsor_tech_north.jpg); background-repeat: no-repeat;">
                <div>
                    <h2 class="mover_and_shaker sponsor">Mover and Shaker</h2>
                    <p class ="website"><a href="http://technorthhq.com/">Visit Website</a></p>
                </div>
            </li>
        </ul>
    </section>
    <section id='challenges'>
        <h2 class='header'>CHALLENGES</h2>
        <ul>
            <li>
                <div>
                    <h2>Best in Show</h2>
                    <dl>
                        <dt>Qualifying Criteria:</dt><dd>All hacks qualify</dd>
                        <dt>Sponsor:</dt><dd><a href='http://waukta.com'>WA:UK Tech Angels</a></dd>
                        <dt>Judge:</dt><dd><a href='http://twitter.com/unclethargy'>Craig Dean</a></dd>
                        <dt>Prize:</dt><dd>Smart Steel Pebblewatch each <a href="http://www.waukta.com/hack-manchester-2015/">MORE INFO</a> </dd>
                    </dl>    
                </div>
            </li>
            <li>
                <div>
                    <h2>University Challenge</h2>
                    <dl>
                        <dt>Qualifying Criteria:</dt><dd>Entire team of undergraduates from a single university.</dd>
                        <dt>Judges:</dt><dd><a href='http://twitter.com/theallseeingpie'>Joe Swan</a></dd>
                        <dt>Prize:</dt><dd>4 x mystery boxes and 4 x vouchers for escape rooms manchester</dd>
                    </dl>    
                </div>
            </li>
            <li>
                <div>
                    <h2>Company Challenge</h2>
                    <dl>
                        <dt>Qualifying Criteria:</dt><dd>Entire team from a single organisation</dd>
                        <dt>Judge:</dt><dd><a href='http://twitter.com/theallseeingpie'>Joe Swan</a></dd>
                        <dt>Prize:</dt><dd>Trophy</dd>
                    </dl>    
                </div>
            </li>
        </ul>
    </section>
    <section id='schedule'>
        <h2 class='header'>SCHEDULE</h2>
        <table> 
            <tbody>
                <tr>
                    <td>
                        <h3>Saturday 24th October</h3>
                        <dl>
                            <dt>11am</dt><dd>Registration</dd>
                            <dt>12noon</dt><dd>Intro Presentations</dd>
                            <dt>1pm</dt><dd>Hack begins</dd>
                            <dt>6pm</dt><dd>Hotpot is served</dd>
                            <dt>6pm</dt><dd>Bar opens</dd>
                        </dl>  
                    </td>
                    <td>
                        <h3>Sunday 25th October</h3>
                        <dl>
                            <dt>8am</dt><dd>Breakfast is served</dd>
                            <dt>1pm</dt><dd>Hacking ends</dd>
                            <dt>2pm</dt><dd>Hack video submission deadline </dd>
                            <dt>2:15pm</dt><dd> Lunch is served at Barclays Escalator</dd>
                            <dt>6pm</dt><dd>Awards show - bar opens/buffet is served</dd>
                        </dl> 
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    <footer>
        <p id="copyright_info">Copyright &copy; 2015,  Hack Manchester, All rights reserved.</p>
        <p id="link_love">Site by <a href="http://wearefarm.com">FARM</a></p>
    </footer>
</body>
</html>
