<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <meta name="description" content="Under 18's 2 day coding competition by @hackmanchester and Manchester CoderDojo. Teams turn up with an idea and have just 2 days to present a working product!">
    <link rel="stylesheet" href="/css/style.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsqPcSmyY-6WIl0Q_Q3Wzr7d-uNFsatGc">
    </script>
    <script src ="/js/map.js"></script>
</head>

<body id="junior">
    <header>
        <div class="wrapper">
            <hgroup>
                <h1 id="logo"><a href="/"><img src="/images/logo.png"/ alt="HAC 1: Hack Manchester 2015" width="100%"></a></h1>
                <h2 class="date"><img src="/images/date_junior.png" alt="26th &dash; 27th October 2015" width="100%"/></h2>
            </hgroup>
            <p class="introduction">A 2 Day coding Competition for under 18s in Manchester</p>
            <div class="booking">
                <ul>
                    <li class="alpha"><a href="https://hackmcrjnr.eventbrite.co.uk/">Book Junior Ticket</a></li>
                    <li><a href="https://docs.google.com/document/d/1ei0RrYSEVoUcze3SbVKgwRVkMsiESqyd9nZ9Pbx3yYk/edit?usp=sharing">Sponsor Pack</a></li>
                </ul>
            </div>
        </div>
    </header>
    <section id="location">
        <div id="map-canvas"></div>
        <p>The event will take in the greatest industrial city on earth… <strong>Manchester</strong> at the  <strong>Museum of Science and Industry</strong>.</p>
    </section>
    <section id="main_content">
        <p>Under 18's 2 day coding competition by <a href="http://twitter.com/hackmanchester">@hackmanchester</a> and <a href="http://mcrcoderdojo.org.uk/">Manchester CoderDojo</a>. Teams turn up with an idea and have just 2 days to present a working product! </p>
    </section>
    <section id="videos">
        <ul>
            <li id="intro_vid"><a href="https://vimeo.com/35322798" target="_blank">Hack Manchester: An Introduction</a></li>
            <li id="summary_vid" target="_blank"><a href="https://youtu.be/RuxkKF4VvXY">Hack Manchester: 2013 Summary</a></li>
        </ul>
    </section>
    <section id="sponsors">
        <ul>
            <li style="background-image: url(/images/sponsors/sponsor_wauk.png)">
                <div>
                    <h2 class="headline sponsor"><span>Headline Sponsor</span></h2>
                    <p class ="website"><a href="#">Visit Website</a></p>
                </div>
            </li>
            <li style="background-image: url(/images/sponsors/sponsor_auto_trader.png)">
                <div>
                    <h2 class="challenge_s sponsor">Challenge Sponsor</h2>
                    <p class ="challenge"><a href="#">View Challenge</a> <a href="#">Visit Website</a></p>
                </div>
            </li>
        </ul>
    </section>
    <footer>
        <p id="copyright_info">Copyright &copy; 2015,  Hack Manchester, All rights reserved.</p>
        <p id="link_love">Site by <a href="http://wearefarm.com">FARM</a></p>
    </footer>
</body>
</html>