    
    <header>
        <div class="wrapper">
            <hgroup>
                <h1 id="logo"><a href="#"><img src="/images/logo.png"/ alt="HAC 1: Hack Manchester 2016" width="100%"></a></h1>
                <p class="date">
                    24 - 25<br><span class="year">OCT 2016</span>
                </p>
            </hgroup>
            <p class="introduction">A 2 Day coding Competition for those 18 and under in Manchester</p>
            <div class="booking">
                <ul>
                    <li class="alpha"><a href="https://www.eventbrite.com/e/hackmanchester-junior-2016-coding-competition-tickets-4285217200/">Book Junior Ticket</a></li>
                    <li><a href="https://docs.google.com/document/d/1ei0RrYSEVoUcze3SbVKgwRVkMsiESqyd9nZ9Pbx3yYk/edit?usp=sharing">Sponsor Us</a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- <section id="videos">
        <!-- <ul> -->
           <!--  <li id="intro_vid"><a href="https://vimeo.com/35322798" target="_blank">Hack Manchester: An Introduction</a></li>
            <li id="summary_vid" target="_blank"><a href="https://youtu.be/RuxkKF4VvXY">Hack Manchester: 2013 Summary</a></li> 
         </ul>            
            <iframe width="560" height="315" src="https://www.youtube.com/embed/BvGA9dMY6wA" frameborder="0" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Fouo9qEkxZ8" frameborder="0" allowfullscreen></iframe>
    </section> -->
    <section id="main_content">
        <p><a href="http://twitter.com/hackmanchester">@hackmanchester</a> junior is a 2 day coding competition for those 18 and Under. Teams of up to 4 turn up with an idea and have just 2 days to present a working product! Take part in the challenges to win prestige and prizes.</p>
        <p>Located at the <a href="http://msimanchester.org.uk/">Museum of Science and Industry</a>, Liverpool Road, Manchester as part of the <a href="http://www.manchestersciencefestival.com/">Manchester Science Festival</a>.</p>
    </section>
    <section id="location">
        <div id="map-canvas" data-location="mosi"></div>
    </section>
    <a name="sponsors"></a>
        <section id="sponsors">
            <h2 class='header'>SPONSORS</h2>
            <ul>
                <li style="background-image: url(/images/sponsors/sponsor_wauk.png)">
                    <div>
                        <h2 class="headline sponsor"><span>Headline Sponsor</span></h2>
                        <p class ="challenge">
                            <a href="http://www.webapplicationsuk.com/hack-jnr">View Challenge</a>
                            <a href="http://www.webapplicationsuk.com/ ">Visit Website</a></p>
                    </div>
                </li>
                <li style="background-image: url(/images/sponsors/sponsor_msf1.png); background-repeat: no-repeat;  background-position: 30% 20%;">
                    <div>
                        <h2 class="challenge_s sponsor">Sponsor</h2>
                        <p class ="website">
                            <a href="http://www.manchestersciencefestival.com/">Visit Website</a>
                        </p>
                    </div>
                </li>
                <li style="background-image: url(/images/sponsors/sponsor_clockwork.png)">
                    <div>
                        <h2 class="challenge_s sponsor">Challenge Sponsor</h2>
                        <p class ="challenge">
                        <a href="https://www.clockworksms.com/blog/clockwork-is-sponsoring-hack-manchester-junior-2016/">View Challenge</a>
                            <a href="http://www.clockworksms.com/">Visit Website</a>
                        </p>
                    </div>
                </li>
                 <li style="background-image: url(/images/sponsors/sponsor_thales.jpg); background-repeat: no-repeat; background-position: 30% 20%;">
                    <div>
                        <h2 class="mover_and_shaker sponsor">Challenge Sponsor</h2>
                        <p class ="challenge">
                            <!-- <a href="http://bit.ly/thaleschallenge">View Challenge</a> -->
                            <a href="http://ukearlycareers.thalesgroup.com/">Visit Website</a>
                        </p>
                    </div>
                </li>
                <li style="background-image: url(/images/sponsors/sponsor_siemens.png); background-size: 80%; background-repeat: no-repeat;  background-position: 50% 30%;">
                    <div>
                        <h2 class="challenge_s sponsor">Challenge Sponsor</h2>
                        <p class ="website">
                            <!-- <a href="https://blogs.siemens.com/curiosity-project/stories/25391/">View Challenge</a> -->
                            <a href="http://www.siemens.co.uk/">Visit Website</a></p>
                    </div>
                </li> 
                <li style="background-image: url(/images/sponsors/sponsor_lad.png); background-repeat: no-repeat; background-size: 80%; background-position: 50% 10%; ">
                <div>
                    <h2 class="challenge_s sponsor">Challenge Sponsor</h2>
                    <p class ="challenge">
                        <a href="http://www.theladbible.com/">Visit Website</a>
                    </p>
                </div>
            </li>
            </ul>
        </section>
        <a name="challenges"></a>
        <section id='challenges'>
            <h2 class='header'>CHALLENGES</h2>
            <ul>
                <li style="background-image: url(/images/sponsors/sponsor_wauk.png)">
                    <div>
                        <h2 class="headline sponsor"><span>BEST IN SHOW</span></h2>
                        <p class ="challenge">
                            <a href="http://www.webapplicationsuk.com/hack-jnr">View Challenge</a>
                    </div>
                </li>
                 <li style="background-color: #FC0; background-image: url(https://cdn0.iconfinder.com/data/icons/users-android-l-lollipop-icon-pack/24/student-512.png);background-repeat: no-repeat; background-size: 60%; background-position: center top; ">
                    <div>
                        <h2 class="challenge_s sponsor"><span>Pre-University Challenge</span></h2>
                        <p class ="challenge">like the rowing comp but drier</p>
                        <p class ="challenge">judge TBC</p>
                        <p class ="challenge">prize TBA</p>
                    </div>
                </li>
                <li style="background-image: url(/images/sponsors/sponsor_clockwork.png)">
                    <div>
                        <h2 class="challenge_s sponsor">Challenge Sponsor</h2>
                        <p class ="challenge">
                            <a href="https://www.clockworksms.com/blog/clockwork-is-sponsoring-hack-manchester-junior-2016/">View Challenge</a>
                        </p>
                    </div>
                </li>
                <!-- coop -->
                <li style="background-color: #FC0; background-image: url(http://www.templatemonster.com/blog/wp-content/uploads/2012/06/comingsoon.png);background-repeat: no-repeat; background-size: 60%; background-position: center; ">
                    <div>
                    </div>
                </li>
                <!-- GMP -->
                <li style="background-color: #FC0; background-image: url(http://www.templatemonster.com/blog/wp-content/uploads/2012/06/comingsoon.png);background-repeat: no-repeat; background-size: 60%; background-position: center; ">
                    <div>
                    </div>
                </li>
                <!-- CRUK -->
                <li style="background-color: #FC0; background-image: url(http://www.templatemonster.com/blog/wp-content/uploads/2012/06/comingsoon.png);background-repeat: no-repeat; background-size: 60%; background-position: center; ">
                    <div>
                    </div>
                </li>
            </ul>
        </section>
    <!-- 
    <section id='schedule'>
        <h2 class='header'>SCHEDULE</h2>
        <table> 
            <tbody>
                <tr>
                    <td>
                        <h3>Monday 26th October</h3>
                        <dl>
                            <dt>9am</dt><dd>Registration</dd>
                            <dt>10am</dt><dd>Hack begins</dd>
                            <dt>1pm</dt><dd>Lunch</dd>
                            <dt>4pm</dt><dd>Time to go home - can carry on coding there though!</dd>
                        </dl>  
                    </td>
                    <td>
                        <h3>Tuesday 27th October</h3>
                        <dl>
                            <dt>10am</dt><dd>Hacking resumes</dd>
                            <dt>12:30pm</dt><dd>Lunch</dd>
                            <dt>5:30pm</dt><dd>Awards show</dd>
                            <dt>7pm</dt><dd>Close</dd>
                        </dl> 
                    </td>
                </tr>
            </tbody>
        </table>
    </section> -->
