<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hack Manchester</title>
    <meta name="description" content="Hack Manchester is a 24-hour coding competition by @ruby_gem, @squarejazz and @theallseeingpie. Teams of up to four turn up with an idea and just 24 hours later present a working product!">
    <link rel="stylesheet" href="/css/style2.css">
    <link rel="stylesheet" href="/css/sponsors.css">
     <link rel="stylesheet" href="/css/challenges.css">
     <link rel="stylesheet" href="/css/location.css">
     <link rel="stylesheet" href="/css/footer.css">
     <link rel="stylesheet" href="/css/header.css">
     <link rel="stylesheet" href="/css/scifest.css">
     <link rel="stylesheet" href="/css/navbar.css">
     <link rel="stylesheet" href="/css/schedule.css">


    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsqPcSmyY-6WIl0Q_Q3Wzr7d-uNFsatGc">
    </script>
    <script src ="/js/map.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31137162-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</head>

<body>
    <div id="sci-fest">
        <div class="header-holder">
            <div class="holder">
                <div class="alignleft">
                    <h1 class="logo">
                        <a href="http://www.manchestersciencefestival.com/" alt="Manchester Science Festival Supported By SIEMENS"></a>
                    </h1>
                    <!-- <span style="font-size:1rem;"><a href="http://www.manchestersciencefestival.com/">part of the Manchester Science Festival</a></span> -->
                </div>
            </div>
        </div>
    </div>
    <div id="navbar">
        <a href="http://www.playbyplay.io/hackmcr16">LIVE BLOG</a> | <a href="#sponsors">SPONSORS</a> | <a href="#challenges">CHALLENGES</a> | <a href="/junior">JUNIOR</a>
    </div>
    <div class="body">
        <%= yield %> 
         <footer>
            <p id="copyright_info">
                Copyright &copy; 2016,  HackManchester
            </p> 
            <p id="link_love">Site by <a href="http://wearefarm.com">FARM</a></p>
            <p id="owner_info">
                brought to you by <a href="http://twitter.com/ruby_gem">@ruby_gem</a>, <a href="http://twitter.com/squarejazz">@squarejazz</a> and <a href="http://twitter.com/theallseeingpie">@theallseeingpie</a>
            </p>
        </footer>
    </div>
</body>
</html>
