<!DOCTYPE html>
<!-- saved from url=(0026)http://hackmanchester.com/ -->
<html class="js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths wf-museosans-n3-active wf-museosans-n5-active wf-museosans-n7-active wf-museosans-n9-active wf-museosans-n1-active wf-active" lang="en">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>Hack Manchester</title>  
      <%include _head%>
    </head>
    
    <body>
        <%include _header%>

        <%include _tickets%>

        <%include _sponsors%>

        <%include _promo_video%>

        <%include _footer %>
    
  </body>
</html>
