<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hack Manchester Sponsors</title>
        <meta name="description" content="Hack Manchester is a 24-hour coding competition by @ruby_gem, @squarejazz and @theallseeingpie. Teams of up to four turn up with an idea and just 24 hours later present a working product!">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
        <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsqPcSmyY-6WIl0Q_Q3Wzr7d-uNFsatGc">
        </script>
        <script src ="/js/map.js"></script>
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-31137162-1']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
        <style type="text/css">

        .masthead.segment {
            min-height: 400px;
            margin: 0px auto;
            background-color: #FC0;
            background-image: repeating-linear-gradient(45deg, #000 0px, #000 50px, transparent 50px, transparent 100px, #000 100px);
        }
        .masthead img {
            background: #FFCC00;
            margin-top: 3em;
            margin-bottom: 0em;
            padding: 2em 5em;
            width:100%;
        }
        .masthead h2 {
            background: #FFCC00;
            font-size: 1.7em;
            font-weight: normal;
            margin-top:-1em;
            padding:1em 0em;
        }

        .ui.vertical.stripe {
          padding: 8em 0em;
        }
        .ui.vertical.stripe h3 {
          font-size: 2em;
        }
        .ui.vertical.stripe .button + h3,
        .ui.vertical.stripe p + h3 {
          margin-top: 3em;
        }
        .ui.vertical.stripe .floated.image {
          clear: both;
        }
        .ui.vertical.stripe p {
          font-size: 1.33em;
        }
        .ui.vertical.stripe .horizontal.divider {
          margin: 3em 0em;
        }

        .quote.stripe.segment {
          padding: 0em;
        }
        .quote.stripe.segment .grid .column {
          padding-top: 5em;
          padding-bottom: 5em;
        }

        .footer.segment {
          padding: 5em 0em;
        }

        .secondary.pointing.menu .toc.item {
          display: none;
        }

        @media only screen and (max-width: 700px) {
          .ui.fixed.menu {
            display: none !important;
          }
          .secondary.pointing.menu .item,
          .secondary.pointing.menu .menu {
            display: none;
          }
          .secondary.pointing.menu .toc.item {
            display: block;
          }
          .masthead.segment {
            min-height: 350px;
          }
          .masthead h1.ui.header {
            font-size: 2em;
            margin-top: 1.5em;
          }
          .masthead h2 {
            margin-top: 0.5em;
            font-size: 1.5em;
          }
        }


      </style>
    </head>

    <body>
        <!-- Page Contents -->
          <div class="ui masthead center aligned segment">

            <div class="ui text container">
                <img src="/images/logo.png" alt="HAC 1: Hack Manchester 2016" >
                <h2>A 24-hour coding competition in the heart of Manchester</h2>
            </div>

          </div>

          <div class="ui vertical stripe segment">
            <div class="ui middle aligned stackable grid container">
              <div class="row">
                    <div class="ui statistics">
                      <div class="statistic">
                        <div class="value">
                          <i class="user icon"></i> 250
                        </div>
                        <div class="label">
                          Developers
                        </div>
                      </div>
                      <div class="statistic">
                        <div class="value">
                          <i class="users icon"></i> 4
                        </div>
                        <div class="label">
                          Team Size
                        </div>
                      </div>
                      <div class="statistic">
                        <div class="value">
                          <i class="wait icon"></i> 24
                        </div>
                        <div class="label">
                          Hours
                        </div>
                      </div>
                      <div class="statistic">
                        <div class="value">
                          <i class="trophy icon"></i> 10
                        </div>
                        <div class="label">
                          Challenges
                        </div>
                      </div>
                      <div class="statistic">
                        <div class="value">
                          <i class="birthday icon"></i> 5
                        </div>
                        <div class="label">
                          Years old
                        </div>
                      </div>
                </div>
            </div>
              <div class="row">
                <div class="eight wide column">
                  <h3 class="ui header">What?</h3>
                  <p>HackManchester is an annual 24-hour coding competition in the heart of Manchester at the Museum of Science and Industry (MSI).</p>
                  <p>Teams of up to 4 talented developers, designers and those with great ideas turn up, pick a challenge and have just 24 hours to produce something to wow our judges. </p>
                  <p>
                  <p>We’re proud to be holding this event as part of the Manchester Science Festival. 2016 will be our biggest yet as we see the 5th HackManchester, 10th Manchester Science Festival AND Manchester is the European City of Science.</p>
                  <h3 class="ui header">Who are we?</h3>
                  <p>We are Gemma Cameron (@ruby_gem) Joe Swan (@TheAllSeeingPie), two software professionals working in the North, along with Claire Foster (@squarejazz) Manchester’s Tech Community event organiser extraordinaire.  We all have a passion for putting bright people together at conferences, workshops and social meetups. HackManchester is a registered Community Interest Company.</p>
                </div>
                <div class="six wide right floated column">
                  <img src="/images/awards.jpg" class="ui large bordered rounded image">
                </div>
              </div>
              <div class="row">
                <div class="center aligned column">
                  <a href="mailto:enquiries@hackmanchester.com" class="ui huge button">Contact Us</a>
                </div>
              </div>
            </div>
          </div>


          <div class="ui vertical stripe quote segment">
            <div class="ui equal width stackable internally celled grid">
              <div class="center aligned row">
                <div class="column">
                  <h3>"HackManchester is a really slick setup that brings together great people, fun ideas and innovative solutions. An intense 24 hours where everyone rises to the challenge, has a great time solving a problem and learns something new"</h3>
                  <p><b>Gavin Barton</b> <br>Head of Software Engineering & Architecture Rentalcars</p>
                </div>
                <div class="column">
                  <h3>"We are delighted to be associated with an event which helps to highlight the digital talent that is out there in Manchester. Each year our students seem to get more out of it – mixing with industry professionals, learning the motivational power of stress and having a great time into the bargain"</h3>
                  <p>
                    <b>David Newton</b> University of Salford
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="ui vertical stripe segment">
            <div class="ui text container">
              <h3 class="ui header">Sponsorship</h3>
              <p>
                All Sponsorship Levels will include the following:
                    <ul>
                    <li>Website logo and Link Back</li>
                    <li>Tweets and Blog posts promoting your company</li>
                    <li>Logo displayed on the Logo Wall at the venue</li>
                    <li>Company name included in promotional material</li>
                    </ul>

                </p>
              <h4 class="ui horizontal header divider">
                <a href="#packages">Packages</a>
              </h4>
              <h3 class="ui header">Startup</h3>
              <h4>£negotiable</h4>
              <p>The UK is filled with exciting new startups, who have ideas they want to try out with developers. We realise you’re working in a lean way so let’s chat about your budget and what you want from HackManchester.</p>
                <a href="mailto:enquiries@hackmanchester.com" class="ui large button">CONTACT US</a>
              <h3 class="ui header">Supporter</h3>
              <h4>£1500</h4>
              <p>Like what we’re trying to achieve with HackManchester but just want to help put the event on without any other commitments? Then try our Supporter package which helps fund the event and gets your company's name in-front of the attendees and press.</p>
                <a href="mailto:enquiries@hackmanchester.com" class="ui large button">CONTACT US</a>
              <h3 class="ui header">Movers and Shakers</h3>
              <h4>£POA</h4>
              <p>Just want to turn up and show all these people what your company is about? We need people to sponsor food, barrista, pinball tables, beanbags and all the other items we will have around. Sponsored items e.g. “Beanbags provided by Your Business”
              </p>
                <a href="mailto:enquiries@hackmanchester.com" class="ui large button">CONTACT US</a>
                <h3 class="ui header">Bar Sponsor</h3>
              <h4>£3500 per night</h4>
              <p>Want to be the most popular sponsor in the room? People love a free bar and your name will be all over it.
              </p>
                <a href="mailto:enquiries@hackmanchester.com" class="ui large button">CONTACT US</a>
            <h3 class="ui header">Challenge Setter (~6 places)</h3>
              <h4>£3500</h4>
              <p>Our most popular package, for sponsors and attendees alike! Set a challenge with an enticing prize for contestants. Your name will be on everyone’s lips as teams vie against each other to win. You will also get the following:
                <ul>
                    <li>Short presentation (~5 minutes) showcasing your company and setting your challenge</li>
                    <li>More prominent logo on marketing materials (Website, Press Packs, Venue)</li>
                    <li>Your own posters decorating the venue</li>
                    <li>The chance for your judge to meet all the attendees 1 on 1.</li>
                    <li>Traffic direct to your website advertising your company and challenge</li>
                </ul>
                You will need to come up with the exciting challenge and enticing prize yourself, but we are here to help and inspire!
              </p>
                <a href="mailto:enquiries@hackmanchester.com" class="ui large button">CONTACT US</a>
            <h3 class="ui header">Mentors</h3>
              <h4>£2000</h4>
              <p>Don’t have a challenge or want to help out in another way? We’d still like you to come and help out but please send some staff to help our competitors. There’s nothing better for a hacker than having an expert with a clear head to call upon in times of need. Showcase your talent and send heroes! Mentors are requested most from about 10pm on Saturday and into the early hours and on the Sunday morning during the final hours of the hack. Option of having a stall on the day so there's somewhere for attendees come and chat to you.
            Your help will be advertised well in advance of the event as well as at the introduction
            More prominent logo on marketing materials (Website, Press Packs, Venue)
              </p>
                <a href="mailto:enquiries@hackmanchester.com" class="ui large button">CONTACT US</a>
            

             <h3 class="ui header">Headliner</h3>
              <p>secured by <a href="http://waukta.com">Web Applications Tech Angels</a></p>
                <a href="mailto:enquiries@hackmanchester.com" class="ui large button">CONTACT US</a>
            </div>

          </div>


          <div class="ui inverted vertical footer segment">
            <div class="ui container">
              <div class="ui stackable inverted divided equal height stackable grid">
                <div class="three wide column">
                  <h4>Juniors</h4>
                  <p><a href="hackmanchester.com/junior">hackmanchester.com/junior</a></p>
                  <!-- <h4 class="ui inverted header">About</h4>
                  <div class="ui inverted link list">
                    <a href="#" class="item">Sitemap</a>
                    <a href="#" class="item">Contact Us</a>
                    <a href="#" class="item">Religious Ceremonies</a>
                    <a href="#" class="item">Gazebo Plans</a>
                  </div> -->
                </div>
                <div class="three wide column">
                  <h4>Contact Us</h4>
                  <p><a href="mailto:enquiries@hackmanchester.com">enquiries@hackmanchester.com</a></p>
                  <!-- <h4 class="ui inverted header">Services</h4>
                  <div class="ui inverted link list">
                    <a href="#" class="item">Banana Pre-Order</a>
                    <a href="#" class="item">DNA FAQ</a>
                    <a href="#" class="item">How To Access</a>
                    <a href="#" class="item">Favorite X-Men</a>
                  </div> -->
                </div>
                <div class="seven wide column">
                  <h4 class="ui inverted header">HackManchester 2016</h4>
                  <p>A 24 hour coding competition in the heart of Manchester. 29th and 30th October 2016.</p>
                </div>
              </div>
            </div>
          </div>
    </body>
</html>
