
        <header>
            <div class="wrapper">
                <hgroup>
                    <h1 id="logo"><a href="#"><img src="/images/logo.png"/ alt="HAC 1: Hack Manchester 2016" width="100%"></a></h1>
                    <p class="date" style="padding-top:70px;font-size:45px">
                        Community Coding Competitions
                    </p>
                </hgroup>
            </div>
        </header>
        <section id="main_content">
            <p><a href="http://twitter.com/hackmanchester">@hackmanchester</a> is a community interest company delivering coding competitions for under and over 18's. Teams of up to four turn up with an idea and two days later present a working product!</p>
        </section>
        <section>
            <div class="booking">
                <ul>
                    <li ><a href="mailto:enquiries@hackmanchester.com?subject=HackManchester Sponsorship&body=Hello! I would like to meet with you to discuss sponsoring HackManchester for 2017.">Sponsor Us</a></li>
                    
                </ul>
            </div>
            <p class="introduction">
                TESTIMONIAL
            </p>
        </section>
        <section id="main_content">
            <p>HackManchester was established in 2011 by two developers <a href="http://twitter.com/ruby_gem">@ruby_gem</a> and <a href="http://twitter.com/theallseeingpie">@theallseeingpie</a>. We have grown and our 5th annual event in 2016, organised by new director and event organiser extraordinaire <a href="http://twitter.com/squarejazz">@squarejazz</a> attracted 260 developers to take on our 9 challenges at the Museum of Science and Industry as part of the Manchester Science Festival.</p>
        </section>
        <section>
            <p class="introduction">
                "We are delighted to be associated with an event which helps to highlight the digital talent that is out there in Manchester. Each year our students seem to get more out of it – mixing with industry professionals, learning the motivational power of stress and having a great time into the bargain"
                <br>
                David Newton University of Salford
            </p>
            <div class="booking">
                <ul>
                    <li ><a href="mailto:enquiries@hackmanchester.com?subject=HackManchester Sponsorship&body=Hello! I would like to meet with you to discuss sponsoring HackManchester for 2017.">Sponsor Us</a></li>
                    
                </ul>
            </div>
        </section>
        <section id="main_content">
            <p>HackManchester was established in 2011 by two developers <a href="http://twitter.com/ruby_gem">@ruby_gem</a> and <a href="http://twitter.com/theallseeingpie">@theallseeingpie</a>. We have grown and our 5th annual event in 2016, organised by new director and event organiser extraordinaire <a href="http://twitter.com/squarejazz">@squarejazz</a> attracted 260 developers to take on our 9 challenges at the Museum of Science and Industry as part of the Manchester Science Festival.</p>
        </section>
