
        <header>
            <div class="wrapper">
                <hgroup>
                    <p class="blurb " style="padding-top:70px;font-size:45px">
                        Community Coding Competitions
                    </p>
                    <h1 id="logo"><a href="#"><img src="/images/logo.png"/ alt="HAC 1: Hack Manchester" width="100%"></a></h1>
                </hgroup>
            </div>
        </header>
        <section id="main_content">
            <p><a href="http://twitter.com/hackmanchester">@hackmanchester</a> is a community interest company delivering coding competitions for under and over 18's. Teams of up to four turn up with an idea and two days later present a working product!
            <br>
            Read on to find out more about our 3 annual events and regular events for youngsters. We're also available to hire to deliver successful coding competitions in other areas.
            </p>
        </section>
        <section class="cta">
            <div class="booking">
                <ul>
                    <li ><a href="mailto:enquiries@hackmanchester.com?subject=HackManchester Sponsorship&body=Hello! I would like to meet with you to discuss sponsoring HackManchester for 2017.">Sponsor Us</a></li>
                    
                </ul>
            </div>
            <p class="testimonial">
                "HackManchester is a really slick setup that brings together great people, fun ideas and innovative solutions. An intense 24 hours where everyone rises to the challenge, has a great time solving a problem and learns something new."
                <br>
                Gavin Barton, Head of Software Engineering & Architecture Rentalcars
            </p>
        </section>
        <section id="main_content">
            <p>Our main event HackManchester was established in 2011 by two developers <a href="http://twitter.com/ruby_gem">@ruby_gem</a> and <a href="http://twitter.com/theallseeingpie">@theallseeingpie</a>. We have grown and our 5th annual event in 2016, organised by new director and event organiser extraordinaire <a href="http://twitter.com/squarejazz">@squarejazz</a> attracted 260 developers to take on our 9 challenges at the Museum of Science and Industry as part of the Manchester Science Festival.</p>
        </section>
        <section class="cta">
            <p class="testimonial">
                "We are delighted to be associated with an event which helps to highlight the digital talent that is out there in Manchester. Each year our students seem to get more out of it – mixing with industry professionals, learning the motivational power of stress and having a great time into the bargain"
                <br>
                David Newton University of Salford
            </p>
            <div class="booking">
                <ul>
                    <li ><a href="mailto:enquiries@hackmanchester.com?subject=HackManchester Sponsorship&body=Hello! I would like to meet with you to discuss sponsoring HackManchester for 2017.">Sponsor Us</a></li>
                    
                </ul>
            </div>
        </section>
        <section id="main_content">
            <h1 class="full-width-logo"><img src="https://challengepost-s3-challengepost.netdna-ssl.com/photos/production/challenge_photos/000/366/658/datas/full_width.jpg"/ alt="HAC 1: Hack Manchester JUNIOR"></h1>
        </section>

        <section id="main_content">
            <p>In May 2016 we partnered with Gameopolis to deliver Jamchester; the UK's biggest games Jam.</p>
        </section>
        <section class="cta">
            <div class="booking">
                <ul>
                    <li ><a href="mailto:enquiries@hackmanchester.com?subject=Jamchester Sponsorship&body=Hello! I would like to meet with you to discuss sponsoring Jamchester for 2017.">Sponsor Us</a></li>
                </ul>
            </div>
            <p class="testimonial">
                "Whilst most Hackathons aren't particularly exciting for spectators until demo time, I genuinely looking over the shoulders of the teams as they put together and tested games that riffed with the events set theme.”
                <br>
                Martin Bryant - TechNorth
            </p>
        </section>

        <section id="main_content">
            <h1 class="full-width-logo"><img src="/images/hmj_logo.png"/ alt="HAC 1: Hack Manchester JUNIOR"></h1>
        </section>
        <section id="main_content">
            <p>After the success of HackManchester, due to popular demand, we launched our first under 18's event HackManchester Junior in 2015. We're looking for challenges and mentors to grow our talent of tomorrow.</p>
        </section>
        <section class="cta">
            <div class="booking">
                <ul>
                    <li ><a href="mailto:enquiries@hackmanchester.com?subject=HackManchester JUNIOR Sponsorship&body=Hello! I would like to meet with you to discuss sponsoring HackManchester Junior for 2017.">Sponsor Us</a></li>
                    
                </ul>
            </div>
            <p class="testimonial">
                "These juniors are the epitome of lean. Trying out their ideas quickly and then learning the skills to build it.”
                <br>
                Joe Swan - Director of HackManchester
            </p>
        </section>
