    
    <header>
        <div class="wrapper">
            <hgroup>
                <h1 id="logo"><a href="#"><img src="/images/logo.png"/ alt="HAC 1: Hack Manchester 2016" width="100%"></a></h1>
                <p class="date">
                    24 - 25<br><span class="year">OCT 2016</span>
                </p>
            </hgroup>
            <p class="introduction">A 2 Day coding Competition for those 18 and under in Manchester</p>
            <div class="booking">
                <ul>
                    <li class="alpha"><a href="https://www.eventbrite.com/e/hackmanchester-junior-2016-coding-competition-tickets-4285217200/">Book Junior Ticket</a></li>
                    <li><a href="https://docs.google.com/document/d/1ei0RrYSEVoUcze3SbVKgwRVkMsiESqyd9nZ9Pbx3yYk/edit?usp=sharing">Sponsor Us</a></li>
                </ul>
            </div>
        </div>
    </header>
    <section id="videos">
        <ul>
            <li id="intro_vid"><a href="https://vimeo.com/35322798" target="_blank">Hack Manchester: An Introduction</a></li>
            <li id="summary_vid" target="_blank"><a href="https://youtu.be/RuxkKF4VvXY">Hack Manchester: 2013 Summary</a></li> 
         </ul>            
    </section>
    <section id="videos">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/nF67_d1HHnI" frameborder="0" allowfullscreen></iframe>
    </section>    
