<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HackManchester Junior</title>
    <meta name="description" content="2 day coding competition by @hackmanchester and Manchester CoderDojo for those aged 18 and Under. Teams turn up with an idea and have just 2 days to present a working product!">
    <link rel="stylesheet" href="/css/style.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsqPcSmyY-6WIl0Q_Q3Wzr7d-uNFsatGc">
    </script>
    <script src ="/js/map.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31137162-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</head>

<body id="junior">
    <header>
        <div class="wrapper">
            <hgroup>
                <h1 id="logo"><a href="/"><img src="/images/hmj_logo.png"/ alt="HAC 1: Hack Manchester 2015" width="100%"></a></h1>
                <h2 class="date"></h2>
            </hgroup>
            <p class="introduction">Half term hackday in Manchester</p>
            <div class="booking">
                <ul>
                    <li class="alpha"><a href="https://hackmcrjnr.eventbrite.co.uk/">Book Ticket</a></li>
                    <li><a href="https://docs.google.com/document/d/1ei0RrYSEVoUcze3SbVKgwRVkMsiESqyd9nZ9Pbx3yYk/edit?usp=sharing">Sponsor Us</a></li>
                </ul>
            </div>
        </div>
    </header>
    <section id="videos">      
            <iframe width="560" height="315" src="https://www.youtube.com/embed/BvGA9dMY6wA" frameborder="0" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Fouo9qEkxZ8" frameborder="0" allowfullscreen></iframe>
    </section>
    <section id="main_content">
        <p>Half term hackday run by <a href="http://twitter.com/hackmanchester">@hackmanchester</a> and <a href="http://hivemanchester.net/">Hive Manchester</a> for those 18 and Under.</p> 

        <p>Teams of up to 4 turn up with an idea and have to present a working product! Take part in the challenges to win prestige and prizes.</p>
    </section>
    <section id="location">
        <div id="map-canvas"></div>
        <p>The event will take in the greatest industrial city on earth… <strong>Manchester</strong> at the  <strong>Museum of Science and Industry</strong>.</p>
    </section>
    <section id="sponsors">
        <ul>
            <li style="background-image: url(/images/sponsors/sponsor_wauk.png)">
                <div>
                    <h2 class="headline sponsor"><span>Headline Sponsor</span></h2>
                    <p class ="challenge"><a href="http://www.waukta.com/hack-manchester-junior/">View Challenge</a><a href="http://www.waukta.com/">Visit Website</a></p>
                </div>
            </li>
            <li style="background-image: url(/images/sponsors/sponsor_auto_trader.png)">
                <div>
                    <h2 class="challenge_s sponsor">Challenge Sponsor</h2>
                    <p class ="challenge"> <a href="https://careers.autotrader.co.uk/hackmanchester-junior-2015/">View Challenge</a> <a href="https://careers.autotrader.co.uk/">Visit Website</a></p>
                </div>
            </li>
            <li style="background-image: url(/images/sponsors/sponsor_raspberry_pi.png); background-size: 40%;background-repeat: no-repeat;  background-position: 50% 10%;">
                <div>
                    <h2 class="challenge_s sponsor">Challenge Sponsor</h2>
                    <p class ="challenge"><a href="https://github.com/McrCoderDojo/hack-manchester-raspberrypi-challenge">View Challenge</a> <a href="https://www.raspberrypi.org/">Visit Website</a></p>
                </div>
            </li>
            <li style="background-image: url(/images/sponsors/sponsor_farm.png)">
                <div>
                    <h2 class="challenge_s sponsor">Challenge Sponsor</h2>
                    <p class ="challenge"><a href="http://blog.wearefarm.com/2015/10/14/hack-manchester-jr/">View Challenge</a> <a href="http://wearefarm.com">Visit Website</a></p>
                </div>
            </li>
            <li style="background-image: url(/images/sponsors/sponsor_lad.png); background-repeat: no-repeat; background-size: 80%; background-position: 50% 20%; ">
                <div>
                    <h2 class="challenge_s sponsor">Challenge Sponsor</h2>
                    <p class ="challenge"><a href="https://medium.com/the-lad-bible/don-t-talk-about-innovation-make-it-happen-bc47d0a45933">View Challenge</a><a href="http://www.theladbible.com/">Visit Website</a></p>
                </div>
            </li>
            
            <li style="background-image: url(/images/sponsors/sponsor_siemens.png); background-size: 80%; background-repeat: no-repeat;  background-position: 50% 30%;">
                <div>
                    <h2 class="challenge_s sponsor">Challenge Sponsor</h2>
                    <p class ="website"><a href="https://blogs.siemens.com/curiosity-project/stories/25391/">View Challenge</a><a href="http://siemens.com/">Visit Website</a></p>
                </div>
            </li>
            <li style="background-image: url(/images/sponsors/sponsor_thales.jpg); background-repeat: no-repeat;">
                <div>
                    <h2 class="mover_and_shaker sponsor">Challenge Sponsor</h2>
					<p class ="challenge"><a href="http://bit.ly/thaleschallenge">View Challenge</a><a href="http://ukearlycareers.thalesgroup.com/ ">Visit Website</a></p>
                </div>
            </li>
            <li style="background-image: url(/images/sponsors/sponsor_tech_north.jpg); background-repeat: no-repeat;">
                <div>
                    <h2 class="mover_and_shaker sponsor">Mover and Shaker</h2>
                    <p class ="website"><a href="http://technorthhq.com/">Visit Website</a></p>
                </div>
            </li>
            <li style="background-image: url(/images/sponsors/sponsor_code.png); background-repeat: no-repeat;">
                <div>
                    <h2 class="mover_and_shaker sponsor">Supporter</h2>
                    <p class ="website"><a href="http://www.codecomputerlove.com">Visit Website</a></p>
                </div>
            </li>
			<li style="background-image: url(/images/sponsors/sponsor_reason_digital.png); background-repeat: no-repeat;">
                <div>
                    <h2 class="mover_and_shaker sponsor">Supporter</h2>
                    <p class ="website"><a href="http://www.reasondigital.com">Visit Website</a></p>
                </div>
            </li>
			<li style="background-image: url(/images/sponsors/sponsor_salford_uni.png); background-repeat: no-repeat;">
                <div>
                    <h2 class="mover_and_shaker sponsor">Supporter</h2>
                    <p class ="website"><a href="http://www.salford.ac.uk/">Visit Website</a></p>
                </div>
            </li>
            
        </ul>
    </section>
    <section id='challenges'>
        <ul>
            <li>
                <div>
                    <h2>Best in Show</h2>
                    <dl>
                        <dt>Qualifying Criteria:</dt><dd>All hacks qualify</dd>
                        <dt>Sponsor:</dt><dd><a href='http://waukta.com'>WA:UK Tech Angels</a></dd>
                        <dt>Judge:</dt><dd><a href='http://twitter.com/unclethargy'>Craig Dean</a></dd>
                        <dt>Prize:</dt><dd>Kindle Fire HD each</dd>
                    </dl>    
                </div>
            </li>
            <li>
                <div>
                    <h2>Pre-University Challenge</h2>
                    <dl>
                        <dt>Qualifying Criteria:</dt><dd>Entire team from a single school.</dd>
                        <dt>Sponsor:</dt><dd><a href='http://wearefarm.com'>FARM</a></dd>
                        <dt>Judge:</dt><dd><a href='http://twitter.com/jon_atkinson'>Jon Atkinson</a></dd>
                        <dt>Prize:</dt><dd>Trophy and more</dd>
                    </dl>    
                </div>
            </li>
        </ul>
    </section>
    <section id='schedule'>
        <h2 class='header'>SCHEDULE</h2>
        <table> 
            <tbody>
                <tr>
                    <td>
                        <h3>Monday 26th October</h3>
                        <dl>
                            <dt>9am</dt><dd>Registration</dd>
                            <dt>10am</dt><dd>Hack begins</dd>
                            <dt>1pm</dt><dd>Lunch</dd>
                            <dt>4pm</dt><dd>Time to go home - can carry on coding there though!</dd>
                        </dl>  
                    </td>
                    <td>
                        <h3>Tuesday 27th October</h3>
                        <dl>
                            <dt>10am</dt><dd>Hacking resumes</dd>
                            <dt>12:30pm</dt><dd>Lunch</dd>
                            <dt>5:30pm</dt><dd>Awards show</dd>
                            <dt>7pm</dt><dd>Close</dd>
                        </dl> 
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    <footer>
        <p id="copyright_info">Copyright &copy; 2015,  Hack Manchester, All rights reserved.</p>
        <p id="link_love">Site by <a href="http://wearefarm.com">FARM</a></p>
    </footer>
</body>
</html>
